Repository View-Pharm/YakAl, pull requests merged in 2023-10, with the labels that each got.

#141 ✨ Feat: 설문, 보호자 추가 완료, 기타 및 병원 정보 기록중
  frontend-hybrid/yakal/assets/icons/icon-bin.svg
  frontend-hybrid/yakal/assets/icons/plus-circle.svg
  frontend-hybrid/yakal/ios/Podfile.lock
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Profile/user.dart
  frontend-hybrid/yakal/lib/models/Survey/question_data.dart
  frontend-hybrid/yakal/lib/models/Survey/survey_model.dart
  frontend-hybrid/yakal/lib/screens/Profile/Info/info_boho_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/Info/info_hospital_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/Info/info_star_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/profile_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/SurveyDetail/survey_detail_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survery_senior_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survey_normal_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survey_result_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/user_view_model.dart
  frontend-hybrid/yakal/lib/viewModels/Survey/survey_detail_bokyak_controller.dart
  frontend-hybrid/yakal/lib/widgets/Base/default_back_appbar.dart
  frontend-hybrid/yakal/lib/widgets/Base/input_horizontal_text_field_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/ProfileHeader/profie_header_text_widget.dart
  frontend-hybrid/yakal/lib/widgets/Survey/OptionBtn/survey_option_2_btn_widget.dart
  frontend-hybrid/yakal/pubspec.lock
  frontend-hybrid/yakal/pubspec.yaml
Labels: 희찬, feature, hybrid

#142 ✨Feat: 특이사항 완료
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Profile/user.dart
  frontend-hybrid/yakal/lib/screens/Profile/Info/info_boho_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/Info/info_star_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/Wish/profile_wish_done.dart
  frontend-hybrid/yakal/lib/screens/Profile/Wish/profile_wish_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/profile_screen.dart
  frontend-hybrid/yakal/lib/screens/Setting/alert_setting_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/user_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Profile/ProfileInfo/profile_info_bottom_sheet_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/ProfileInfo/profle_info_add_btn_widget.dart
Labels: 희찬, feature, fix, hybrid

#129 🐛 잘못된 코드 수정
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/AnswerRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/service/SurbeyService.java
Labels: 우빈, fix, server

#143 ✨ iOS 환경에서 카카오 로그인 구현
  frontend-hybrid/yakal/android/app/build.gradle
  frontend-hybrid/yakal/android/app/src/main/AndroidManifest.xml
  frontend-hybrid/yakal/ios/Podfile.lock
  frontend-hybrid/yakal/ios/Runner/Info.plist
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Profile/user.dart
  frontend-hybrid/yakal/lib/screens/Login/Identification/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/IdentificationEntry/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/IdentificationResult/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/KakoLogin/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginEntry/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginFinished/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/ModeSelection/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/NicknameInput/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/SetMode/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/SetNickname/screen.dart
  frontend-hybrid/yakal/lib/utilities/api/api.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/user_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Login/back_to_login_dialog.dart
Labels: enhancement, 도훈, feature, hybrid

#144 ✨ Home, Calendar View 완료
  frontend-hybrid/yakal/android/app/build.gradle
  frontend-hybrid/yakal/assets/icons/icon-check-off-36.svg
  frontend-hybrid/yakal/assets/icons/icon-check-on-36.svg
  frontend-hybrid/yakal/assets/icons/icon-check-oval-off-24.svg
  frontend-hybrid/yakal/assets/icons/icon-check-oval-on-24.svg
  frontend-hybrid/yakal/assets/icons/icon-envelope.svg
  frontend-hybrid/yakal/assets/icons/icon-home-calendar.svg
  frontend-hybrid/yakal/assets/icons/icon-home-notification.svg
  frontend-hybrid/yakal/assets/icons/icon-overlap.svg
  frontend-hybrid/yakal/assets/icons/icon-pencil-box.svg
  frontend-hybrid/yakal/assets/icons/icon-pill-off.svg
  frontend-hybrid/yakal/assets/icons/icon-pill-on.svg
  frontend-hybrid/yakal/assets/icons/icon-pill.svg
  frontend-hybrid/yakal/assets/icons/icon-plus-bottle.svg
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Calendar/calendar_model.dart
  frontend-hybrid/yakal/lib/models/Calendar/count_model.dart
  frontend-hybrid/yakal/lib/models/Home/atc_code.dart
  frontend-hybrid/yakal/lib/models/Home/e_taking_time.dart
  frontend-hybrid/yakal/lib/models/Home/home_info_model.dart
  frontend-hybrid/yakal/lib/models/Home/pill_todo_children.dart
  frontend-hybrid/yakal/lib/models/Home/pill_todo_parent.dart
  frontend-hybrid/yakal/lib/provider/Calendar/calendar_providar.dart
  frontend-hybrid/yakal/lib/repository/Calendar/calendar_repository.dart
  frontend-hybrid/yakal/lib/screens/Calender/calender_screen.dart
  frontend-hybrid/yakal/lib/screens/Home/home_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Calendar/calendar_viewmodel.dart
  frontend-hybrid/yakal/lib/viewModels/Home/home_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Base/animated_width_collapse.dart
  frontend-hybrid/yakal/lib/widgets/Base/my_bottom_navigation_bar.dart
  frontend-hybrid/yakal/lib/widgets/Calender/calendar_info_layout.dart
  frontend-hybrid/yakal/lib/widgets/Calender/pill_calender.dart
  frontend-hybrid/yakal/lib/widgets/Calender/pill_calender_day_item.dart
  frontend-hybrid/yakal/lib/widgets/Home/HomeButton.dart
  frontend-hybrid/yakal/lib/widgets/Home/HomeTodo.dart
  frontend-hybrid/yakal/lib/widgets/Home/home_info_layout.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_floating_action_buttom.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_chidren_item.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_parent_item.dart
  frontend-hybrid/yakal/pubspec.lock
  frontend-hybrid/yakal/pubspec.yaml
  frontend-hybrid/yakal/web/index.html
Labels: enhancement, 형준, feature, hybrid

#145 ✨ feat : add 페이지 생성
  frontend-hybrid/yakal/ios/Podfile.lock
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/screens/Medication/direct/medication_direct_screen.dart
  frontend-hybrid/yakal/lib/screens/Medication/ocrEnvelop/medication_ocr_Envelop_screen.dart
  frontend-hybrid/yakal/lib/screens/Medication/ocrGeneral/medication_ocr_General_screen.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_floating_action_buttom.dart
  frontend-hybrid/yakal/macos/Podfile.lock
Labels: 희찬, hybrid

#148 🚀 Delete .DS_Store and Deploy/test
  .DS_Store
Labels: safe to server

#149 🚀 docs: Update README.md
  README.md
Labels: safe to server

#152 🐛 약 봉투 OCR 진입 페이지 이미지 오버플로우
  frontend-hybrid/yakal/ios/Podfile.lock
  frontend-hybrid/yakal/lib/screens/Medication/ocrEnvelop/EnvelopOcrEntry/screen.dart
Labels: 도훈, fix, hybrid

#154 🔥 fix: Home, Calendar UI 수정
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Home/pill_todo_parent.dart
  frontend-hybrid/yakal/lib/screens/Detail/detail_fragment.dart
  frontend-hybrid/yakal/lib/screens/Detail/screen.dart
  frontend-hybrid/yakal/lib/widgets/Calender/pill_calender.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_chidren_item.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_parent_item.dart
Labels: 형준, fix, hybrid

#155 refactor : beers_criteria enum화
  backend-server/src/main/java/com/viewpharm/yakal/domain/Risk.java
  backend-server/src/main/java/com/viewpharm/yakal/type/EMedicalProperties.java
Labels: 찬진, feature, server, safe to server

#156 feat : 약조회 api 에서 약이름 추가
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/OneTimeScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
Labels: 찬진, feature, server, safe to server

#157 fix : 처방전 조회 api 수정
  backend-server/src/main/java/com/viewpharm/yakal/controller/PrescriptionController.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/PrescriptionDto.java
  backend-server/src/main/java/com/viewpharm/yakal/service/PrescriptionService.java
Labels: 찬진, fix, server, safe to server

#158 💄 style : 메인 화면 스타일 적용
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/screens/Detail/screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/Info/info_boho_screen.dart
  frontend-hybrid/yakal/lib/utilities/api/api.dart
  frontend-hybrid/yakal/lib/widgets/Base/custom_expansion_tile.dart
  frontend-hybrid/yakal/lib/widgets/Home/home_info_layout.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_parent_item.dart
  frontend-hybrid/yakal/pubspec.lock
  frontend-hybrid/yakal/pubspec.yaml
  frontend-hybrid/yakal/test/widget_test.dart
Labels: 희찬, feature, hybrid

#160 ⚡ 유저 최초 로그인시 아침, 점심, 저녁 디폴트 값 추가
  backend-server/src/main/java/com/viewpharm/yakal/domain/User.java
  backend-server/src/main/java/com/viewpharm/yakal/service/UserService.java
  backend-server/src/main/resources/schema.sql
Labels: 우빈, feature, server

#164 ✨ Feat: 홈 스크린 연동 완료
  frontend-hybrid/yakal/lib/models/Home/home_info_model.dart
  frontend-hybrid/yakal/lib/models/Home/pill_todo_children.dart
  frontend-hybrid/yakal/lib/provider/Home/pill_todo_provider.dart
  frontend-hybrid/yakal/lib/repository/Home/pill_todo_repository.dart
  frontend-hybrid/yakal/lib/screens/Home/home_screen.dart
  frontend-hybrid/yakal/lib/utilities/api/api.dart
  frontend-hybrid/yakal/lib/viewModels/Home/home_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_chidren_item.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_layout.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_parent_item.dart
Labels: bug, 형준, feature, hybrid

#165 ✨ feat : 약물 디테일 페이지
  frontend-hybrid/yakal/assets/icons/icon-detail-block.svg
  frontend-hybrid/yakal/assets/icons/icon-detail-caution.svg
  frontend-hybrid/yakal/assets/icons/icon-detail-food.svg
  frontend-hybrid/yakal/assets/icons/icon-detail-pill-blue.svg
  frontend-hybrid/yakal/assets/icons/icon-detail-pill-gray.svg
  frontend-hybrid/yakal/ios/Podfile.lock
  frontend-hybrid/yakal/lib/models/Medication/medication_detail_model.dart
  frontend-hybrid/yakal/lib/screens/Detail/detail_fragment.dart
  frontend-hybrid/yakal/lib/screens/Detail/screen.dart
  frontend-hybrid/yakal/lib/viewModels/Medication/medication_info_viewmodel.dart
  frontend-hybrid/yakal/lib/widgets/Medication/drug_detail_section_widget.dart
  frontend-hybrid/yakal/lib/widgets/Medication/drug_detail_widget.dart
Labels: 희찬, feature, hybrid

#166 ✨feat : 약이름으로 atcCode와 kdCode 조회
  backend-server/src/main/java/com/viewpharm/yakal/controller/DoseController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/DoseName.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/DoseCodesDto.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DoesNameRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
  backend-server/src/main/resources/schema.sql
Labels: 찬진, feature, server

#167 fix : 약이름으로 코드 가져오는 api (중복된 약이름 경우를 위해) 수정
  backend-server/src/main/java/com/viewpharm/yakal/controller/DoseController.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DoesNameRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
Labels: 찬진, fix, server, safe to server

#168 🎨 fix : between api 없는 데이터도 0으로 수정
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
Labels: 찬진, fix, server, safe to server

#170 ✨ Feat :데이터 통신 연결 - 마이페이지
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Profile/special_note_model.dart
  frontend-hybrid/yakal/lib/models/Profile/user.dart
  frontend-hybrid/yakal/lib/provider/Profile/profile_change_provider.dart
  frontend-hybrid/yakal/lib/screens/Login/SetMode/screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/Info/info_star_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/profile_screen.dart
  frontend-hybrid/yakal/lib/screens/Setting/alert_setting_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Home/home_view_model.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/special_list_view_model.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/user_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Setting/setting_mode_widget.dart
Labels: 희찬, feature, hybrid

#172 ✨ feat: Calendar Data 연동 완료
  frontend-hybrid/yakal/lib/models/Calendar/calendar_day.dart
  frontend-hybrid/yakal/lib/models/Calendar/calendar_model.dart
  frontend-hybrid/yakal/lib/models/Calendar/count_model.dart
  frontend-hybrid/yakal/lib/models/Home/home_info_model.dart
  frontend-hybrid/yakal/lib/provider/Calendar/calendar_provider.dart
  frontend-hybrid/yakal/lib/provider/Home/pill_todo_provider.dart
  frontend-hybrid/yakal/lib/repository/Calendar/calendar_repository.dart
  frontend-hybrid/yakal/lib/screens/Calender/calender_screen.dart
  frontend-hybrid/yakal/lib/screens/Detail/screen.dart
  frontend-hybrid/yakal/lib/screens/Home/home_screen.dart
  frontend-hybrid/yakal/lib/utilities/util/date_time_util.dart
  frontend-hybrid/yakal/lib/viewModels/Base/pill_todo_viewmodel.dart
  frontend-hybrid/yakal/lib/viewModels/Calendar/calendar_viewmodel.dart
  frontend-hybrid/yakal/lib/viewModels/Home/home_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Calender/calendar_info_layout.dart
  frontend-hybrid/yakal/lib/widgets/Calender/pill_calender.dart
  frontend-hybrid/yakal/lib/widgets/Calender/pill_calender_day_item.dart
  frontend-hybrid/yakal/lib/widgets/Home/home_info_layout.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_chidren_item.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_layout.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_parent_item.dart
Labels: 형준, feature, fix, hybrid

#173 feat: APNS, FCM 파일 적용 (iOS)
  frontend-hybrid/yakal/ios/GoogleService-Info.plist
  frontend-hybrid/yakal/ios/Runner.xcodeproj/project.pbxproj
  frontend-hybrid/yakal/ios/Runner/AppDelegate.swift
Labels: 희찬, feature, hybrid

#174 🚑 fix: Calendar Observe Error
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/screens/Calender/calender_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Calendar/calendar_viewmodel.dart
  frontend-hybrid/yakal/lib/viewModels/Home/home_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Calender/pill_calendar.dart
  frontend-hybrid/yakal/lib/widgets/Calender/pill_calendar_day_item.dart
  frontend-hybrid/yakal/lib/widgets/Calender/pill_calender_day_item.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_floating_action_buttom.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_layout.dart
Labels: 형준, fix, hybrid

#176 ✨ 약 추가 OCR 연동
  frontend-hybrid/yakal/assets/data/medicine_code.db
  frontend-hybrid/yakal/assets/images/bottom-button.svg
  frontend-hybrid/yakal/assets/images/medicine-envelop.svg
  frontend-hybrid/yakal/assets/images/ocr_preview.png
  frontend-hybrid/yakal/assets/images/phone-outline.svg
  frontend-hybrid/yakal/assets/images/screen.svg
  frontend-hybrid/yakal/assets/images/speaker.svg
  frontend-hybrid/yakal/ios/Runner/Info.plist
  frontend-hybrid/yakal/lib/models/Medication/dose_name_code_model.dart
  frontend-hybrid/yakal/lib/models/Medication/search_medicine_model.dart
  frontend-hybrid/yakal/lib/provider/Medicine/add_modicine_provider.dart
  frontend-hybrid/yakal/lib/provider/Medicine/envelop_analysis_provider.dart
  frontend-hybrid/yakal/lib/provider/Medicine/medication_direct_provider.dart
  frontend-hybrid/yakal/lib/repository/Medicine/medicne_code_repository.dart
  frontend-hybrid/yakal/lib/screens/Medication/direct/medication_direct_screen.dart
  frontend-hybrid/yakal/lib/screens/Medication/ocrEnvelop/EnvelopAnalysis/screen.dart
  frontend-hybrid/yakal/lib/screens/Medication/ocrEnvelop/EnvelopOcrEntry/screen.dart
  frontend-hybrid/yakal/lib/screens/Medication/ocrEnvelop/EnvelopShot/screen.dart
  frontend-hybrid/yakal/lib/screens/Medication/ocrEnvelop/EnvelopShotReview/screen.dart
  frontend-hybrid/yakal/lib/utilities/api/api.dart
  frontend-hybrid/yakal/lib/viewModels/Medication/dose_list_view_model.dart
  frontend-hybrid/yakal/pubspec.lock
  frontend-hybrid/yakal/pubspec.yaml
Labels: enhancement, 도훈, feature, fix, hybrid

#175 ⚡ 보호자 검색기능 추가
  backend-server/src/main/java/com/viewpharm/yakal/controller/GuardianController.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/UserListDtoForGuardian.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/UserRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/GuardianService.java
Labels: 우빈, feature, server

#179 🎨 🚑 fix: home, calendar exception
  frontend-hybrid/yakal/assets/icons/arrow_pill.svg
  frontend-hybrid/yakal/lib/screens/Calender/calender_screen.dart
  frontend-hybrid/yakal/lib/screens/Home/home_screen.dart
  frontend-hybrid/yakal/lib/utilities/util/date_time_util.dart
  frontend-hybrid/yakal/lib/viewModels/Base/pill_todo_viewmodel.dart
  frontend-hybrid/yakal/lib/viewModels/Calendar/calendar_viewmodel.dart
  frontend-hybrid/yakal/lib/viewModels/Home/home_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Calender/calendar_info_layout.dart
  frontend-hybrid/yakal/lib/widgets/Calender/calendar_pill_info_view.dart
  frontend-hybrid/yakal/lib/widgets/Home/home_info_layout.dart
  frontend-hybrid/yakal/lib/widgets/Home/home_pill_todo_view.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_chidren_item.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_layout.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_parent_item.dart
Labels: bug, 형준, fix, hybrid

#181 ✨feat : KDcode 와 ATCcode가 없는 경우 사용자가 입력한 이름을 기반으로 가장 유사한 약으로 추가
  backend-server/src/main/java/com/viewpharm/yakal/controller/DoseController.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/OneMedicineScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DoseNameRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
Labels: 찬진, feature, server, safe to server

#182 ✨ 디바이스 토큰 등록
  backend-server/src/main/java/com/viewpharm/yakal/controller/UserController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/User.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/UserDeviceRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/service/NotificationScheduleService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/UserService.java
Labels: 우빈, feature, server

#183 ✨ feat: overlap modal
  frontend-hybrid/yakal/assets/icons/close.svg
  frontend-hybrid/yakal/lib/models/Home/overlap_info.dart
  frontend-hybrid/yakal/lib/models/Home/pill_todo_children.dart
  frontend-hybrid/yakal/lib/models/Home/pill_todo_parent.dart
  frontend-hybrid/yakal/lib/provider/Home/pill_todo_provider.dart
  frontend-hybrid/yakal/lib/repository/Home/pill_todo_repository.dart
  frontend-hybrid/yakal/lib/viewModels/Calendar/calendar_viewmodel.dart
  frontend-hybrid/yakal/lib/viewModels/Home/home_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Calender/calendar_pill_info_view.dart
  frontend-hybrid/yakal/lib/widgets/Home/home_pill_todo_view.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_overlap_item.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_overlap_modal_view.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_chidren_item.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_parent_item.dart
Labels: 형준, feature, hybrid

#184 ✨ feat: ios 버전 버그 수정, firebase 초기 셋팅
  frontend-hybrid/yakal/android/app/build.gradle
  frontend-hybrid/yakal/android/app/src/main/AndroidManifest.xml
  frontend-hybrid/yakal/android/app/src/main/res/drawable-hdpi/splash.png
  frontend-hybrid/yakal/android/app/src/main/res/drawable-mdpi/splash.png
  frontend-hybrid/yakal/android/app/src/main/res/drawable-night-v21/launch_background.xml
  frontend-hybrid/yakal/android/app/src/main/res/drawable-night/launch_background.xml
  frontend-hybrid/yakal/android/app/src/main/res/drawable-xhdpi/splash.png
  frontend-hybrid/yakal/android/app/src/main/res/drawable-xxhdpi/splash.png
  frontend-hybrid/yakal/android/app/src/main/res/drawable-xxxhdpi/splash.png
  frontend-hybrid/yakal/android/build.gradle
  frontend-hybrid/yakal/assets/images/splash.png
  frontend-hybrid/yakal/ios/Podfile.lock
  frontend-hybrid/yakal/ios/Runner.xcodeproj/project.pbxproj
  frontend-hybrid/yakal/ios/Runner/AppDelegate.swift
  frontend-hybrid/yakal/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
  frontend-hybrid/yakal/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
  frontend-hybrid/yakal/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
  frontend-hybrid/yakal/ios/Runner/Base.lproj/LaunchScreen.storyboard
  frontend-hybrid/yakal/ios/Runner/Info.plist
  frontend-hybrid/yakal/ios/Runner/RunnerRelease.entitlements
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Profile/user.dart
  frontend-hybrid/yakal/lib/screens/Detail/detail_fragment.dart
  frontend-hybrid/yakal/lib/screens/Detail/screen.dart
  frontend-hybrid/yakal/lib/screens/Home/home_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/profile_screen.dart
  frontend-hybrid/yakal/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend-hybrid/yakal/pubspec.lock
  frontend-hybrid/yakal/pubspec.yaml
  frontend-hybrid/yakal/web/index.html
  frontend-hybrid/yakal/web/splash/img/dark-1x.png
  frontend-hybrid/yakal/web/splash/img/dark-2x.png
  frontend-hybrid/yakal/web/splash/img/dark-3x.png
  frontend-hybrid/yakal/web/splash/img/dark-4x.png
  frontend-hybrid/yakal/web/splash/img/light-1x.png
  frontend-hybrid/yakal/web/splash/img/light-2x.png
  frontend-hybrid/yakal/web/splash/img/light-3x.png
  frontend-hybrid/yakal/web/splash/img/light-4x.png
  frontend-hybrid/yakal/windows/flutter/generated_plugin_registrant.cc
  frontend-hybrid/yakal/windows/flutter/generated_plugins.cmake
Labels: 희찬, feature, hybrid

#187 ✨Feat : 이미지 변경 반영
  frontend-hybrid/yakal/assets/icons/camera_hands.svg
  frontend-hybrid/yakal/assets/icons/icon-test-1.svg
  frontend-hybrid/yakal/assets/icons/icon-test-10.svg
  frontend-hybrid/yakal/assets/icons/icon-test-11.svg
  frontend-hybrid/yakal/assets/icons/icon-test-12.svg
  frontend-hybrid/yakal/assets/icons/icon-test-2.svg
  frontend-hybrid/yakal/assets/icons/icon-test-3.svg
  frontend-hybrid/yakal/assets/icons/icon-test-4.svg
  frontend-hybrid/yakal/assets/icons/icon-test-5.svg
  frontend-hybrid/yakal/assets/icons/icon-test-6.svg
  frontend-hybrid/yakal/assets/icons/icon-test-7.svg
  frontend-hybrid/yakal/assets/icons/icon-test-8.svg
  frontend-hybrid/yakal/assets/icons/icon-test-9.svg
  frontend-hybrid/yakal/assets/icons/img-join-1.png
  frontend-hybrid/yakal/assets/icons/img-join-2.png
  frontend-hybrid/yakal/assets/icons/img-mainpill-default.svg
  frontend-hybrid/yakal/assets/icons/login_main.svg
  frontend-hybrid/yakal/assets/icons/num-1.svg
  frontend-hybrid/yakal/assets/icons/num-2.svg
  frontend-hybrid/yakal/assets/icons/sign_done.svg
  frontend-hybrid/yakal/assets/icons/verify.svg
  frontend-hybrid/yakal/assets/images/ocr_preview.png
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Survey/survey_model.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginEntry/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginProcess/IdentificationEntry/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginProcess/LoginFinished/screen.dart
  frontend-hybrid/yakal/lib/screens/Medication/ocrEnvelop/EnvelopOcrEntry/screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survery_senior_screen.dart
Labels: 희찬, feature, hybrid

#189 🚑 fix: Todo Side Effect 삭제
  .DS_Store
  frontend-hybrid/.DS_Store
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/screens/Home/home_screen.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginProcess/LoginFinished/screen.dart
  frontend-hybrid/yakal/lib/widgets/Base/custom_expansion_tile.dart
  frontend-hybrid/yakal/lib/widgets/Home/home_pill_todo_view.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_chidren_item.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_parent_item.dart
  frontend-hybrid/yakal/lib/widgets/Profile/ProfileHeader/profile_header_widget.dart
Labels: bug, 형준, fix, hybrid

#193 ✨ Survey 통신 진행
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Survey/survey_model.dart
  frontend-hybrid/yakal/lib/screens/Home/home_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survery_senior_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survey_normal_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survey_result_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Survey/survey_detail_bokyak_controller.dart
  frontend-hybrid/yakal/lib/viewModels/Survey/survey_list_controller.dart
Labels: 희찬, feature, hybrid

#196 ✨ Feat: 특이사항, 다시하러가기, 날짜
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Profile/special_note_model.dart
  frontend-hybrid/yakal/lib/screens/Profile/Info/info_star_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survey_result_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/special_list_view_model.dart
Labels: 희찬, feature, hybrid

#197 ✨ 모바일 구글 로그인
  frontend-hybrid/yakal/android/app/build.gradle
  frontend-hybrid/yakal/android/app/src/main/res/values/styles.xml
  frontend-hybrid/yakal/android/build.gradle
  frontend-hybrid/yakal/ios/Podfile.lock
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Profile/user.dart
  frontend-hybrid/yakal/lib/provider/Login/identification_result_provider.dart
  frontend-hybrid/yakal/lib/provider/Login/social_login_provider.dart
  frontend-hybrid/yakal/lib/screens/Login/KakaoLogin/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginProcess/IdentificationEntry/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/SocialLogin/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/SocialLogin/style.dart
  frontend-hybrid/yakal/lib/utilities/enum/login_platform.dart
  frontend-hybrid/yakal/lib/utilities/enum/user_properties.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/user_view_model.dart
  frontend-hybrid/yakal/pubspec.lock
Labels: 도훈, feature, refator, hybrid

#199 🎨 ✨ fix: 보호자 기능 CRD 수정 완료
  backend-server/src/main/java/com/viewpharm/yakal/common/exception/CommonException.java
  backend-server/src/main/java/com/viewpharm/yakal/common/exception/GlobalExceptionHandler.java
  backend-server/src/main/java/com/viewpharm/yakal/common/security/JwtExceptionFilter.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/ExpertController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/ImageController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/UserController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Counsel.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/User.java
  backend-server/src/main/java/com/viewpharm/yakal/guardian/controller/GuardianController.java
  backend-server/src/main/java/com/viewpharm/yakal/guardian/repository/GuardianRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/guardian/service/GuardianService.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalappointment/controller/MedicalAppointmentController.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalappointment/domain/MedicalAppointment.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalappointment/repository/MedicalAppointmentRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalappointment/service/MedicalAppointmentService.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/CounselRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/UserRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/UserService.java
Labels: 형준, feature, fix, server, safe to server

#203 🚑 fix: 회원가입 분기 Dto 완료
  backend-server/src/main/java/com/viewpharm/yakal/YakalApplication.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/AuthController.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/UserController.java
  backend-server/src/main/java/com/viewpharm/yakal/user/domain/User.java
  backend-server/src/main/java/com/viewpharm/yakal/user/dto/request/UpdateIsOptionalAgreementDto.java
  backend-server/src/main/java/com/viewpharm/yakal/user/dto/response/UserRegisterDto.java
  backend-server/src/main/java/com/viewpharm/yakal/user/service/UserService.java
Labels: 형준, fix, server, safe to server

#206 🐛 알림 수정
  backend-server/src/main/java/com/viewpharm/yakal/medicalappointment/domain/MedicalAppointment.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/NotificationScheduleService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/repository/UserRepository.java
Labels: 우빈, fix, server, safe to server

#207 ⚡ redirect url 변경
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/ExpertController.java
  backend-server/src/main/java/com/viewpharm/yakal/user/service/ExpertService.java
Labels: 우빈, fix, server

#209 🚑 fix: asdf
  backend-server/README.md
Labels: 형준, fix, safe to server

#210 🚑 fix: log 추가
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/UserController.java
  backend-server/src/main/java/com/viewpharm/yakal/user/service/UserService.java
Labels: safe to server

#211 fix: test - 3
  backend-server/src/main/java/com/viewpharm/yakal/user/repository/UserRepository.java
Labels: 형준, safe to server

#212 fix: test - 4
  backend-server/src/main/java/com/viewpharm/yakal/user/repository/UserRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/user/service/UserService.java
Labels: safe to server

#213 ✨ 관심환자 여부 변경 및 환자 리스트 불러오기
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/PatientDto.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalappointment/repository/MedicalAppointmentRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalappointment/service/MedicalAppointmentService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/ExpertController.java
  backend-server/src/main/java/com/viewpharm/yakal/user/service/ExpertService.java
Labels: 우빈, feature, server

#216 feat: 의료 기관 등록 추가
  backend-server/src/main/java/com/viewpharm/yakal/base/utils/ImageUtil.java
  backend-server/src/main/java/com/viewpharm/yakal/common/exception/ErrorCode.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/MedicineController.java
  backend-server/src/main/java/com/viewpharm/yakal/guardian/dto/response/GuardianTelDto.java
  backend-server/src/main/java/com/viewpharm/yakal/guardian/service/GuardianService.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishments/domain/MedicalEstablishment.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishments/dto/request/MedicalEstablishmentDto.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishments/repository/MedicalEstablishmentRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishments/service/MedicalEstablishmentService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/ExpertController.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/ImageController.java
  backend-server/src/main/java/com/viewpharm/yakal/user/domain/User.java
  backend-server/src/main/java/com/viewpharm/yakal/user/dto/request/UserDeviceRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/user/service/UserService.java
Labels: safe to server

#217 ✨ 환자 처방약 가져오기
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/DoseRecentDto.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/ExpertController.java
  backend-server/src/main/java/com/viewpharm/yakal/user/dto/response/UserExpertDto.java
  backend-server/src/main/java/com/viewpharm/yakal/user/service/UserService.java
Labels: 우빈, feature, server, safe to server

#219 오류 해결
  backend-server/src/main/java/com/viewpharm/yakal/base/utils/ImageUtil.java
Labels: safe to server

#223 ✨ 전문가 웹 페이지 연동
  frontend-web/src/api/auth/auth/api.ts
  frontend-web/src/api/auth/experts/api.ts
  frontend-web/src/api/auth/experts/types/facility-info.ts
  frontend-web/src/api/auth/instance.ts
  frontend-web/src/api/auth/interceptors.ts
  frontend-web/src/api/noauth/auth/api.ts
  frontend-web/src/api/noauth/auth/types/access-token.ts
  frontend-web/src/api/noauth/instance.ts
  frontend-web/src/api/noauth/interceptors.ts
  frontend-web/src/components/login/identify/view.controller.ts
  frontend-web/src/components/login/main/view.controller.ts
  frontend-web/src/components/login/main/view.tsx
  frontend-web/src/components/login/social-login-failure/view.tsx
  frontend-web/src/components/login/social-login-not-yet/view.tsx
  frontend-web/src/components/login/social-login/view.tsx
  frontend-web/src/components/main/certification/view.controller.ts
  frontend-web/src/components/main/certification/view.model.ts
  frontend-web/src/components/main/certification/view.tsx
  frontend-web/src/components/main/mypage/view.tsx
  frontend-web/src/components/main/patient-list/child/patient-item/style.ts
  frontend-web/src/components/main/patient-list/child/patient-item/view.tsx
  frontend-web/src/components/main/patient-list/style.ts
  frontend-web/src/components/main/patient-list/view.model.ts
  frontend-web/src/components/main/patient-list/view.tsx
  frontend-web/src/components/main/patient/child/summary/children/medication.tsx
  frontend-web/src/components/main/profile/view.tsx
  frontend-web/src/components/main/registration/view.controller.ts
  frontend-web/src/components/main/registration/view.tsx
  frontend-web/src/hooks/use-snackbar.tsx
  frontend-web/src/main.tsx
  frontend-web/src/page/login/view.tsx
  frontend-web/src/page/main/view.tsx
  frontend-web/src/router.tsx
  frontend-web/src/store/expert-user.ts
  frontend-web/src/store/facility-list.ts
  frontend-web/src/store/patient-list.ts
  frontend-web/src/store/patient.ts
Labels: 도훈, feature, web

#224 ✨ 특정 환자 설문 리스트 들고오기
  backend-server/src/main/java/com/viewpharm/yakal/survey/domain/Survey.java
  backend-server/src/main/java/com/viewpharm/yakal/survey/repository/AnswerRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/survey/service/SurveyService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/ExpertController.java
Labels: 우빈, feature, server, safe to server

#225 fix : 충돌 해결-fetchLoginInfo
  frontend-hybrid/yakal/lib/viewModels/Profile/user_view_model.dart
Labels: 희찬, feature, hybrid
