Repository View-Pharm/YakAl, pull requests merged in 2023-08, with the labels that each got.

#13 💄 style : 메인페이지 레이아웃 구성
  frontend-ios/YakAl/YakAl.xcodeproj/project.pbxproj
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/FAB-add-pill.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/FAB-add-pill.imageset/FAB-add-pill@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/Main/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/button-add-pill (pressed).imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/button-add-pill (pressed).imageset/button-add-pill (pressed)@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/default_main.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/default_main.imageset/default_main@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon-bell(1).imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon-bell(1).imageset/icon-bell(1)@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon-bell(2).imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon-bell(2).imageset/icon-bell(2)@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_ community.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_ community.imageset/icon_ community@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_ community_fill.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_ community_fill.imageset/icon_ community_fill@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_X.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_X.imageset/icon_X@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_celedar.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_celedar.imageset/icon_celedar@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_home.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_home.imageset/icon_home@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_home_fill.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_home_fill.imageset/icon_home_fill@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_location.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_location.imageset/icon_location@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_location_fill.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_location_fill.imageset/icon_location_fill@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_mypage.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_mypage.imageset/icon_mypage@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_mypage_fill.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon_mypage_fill.imageset/icon_mypage_fill@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/image-startarrow.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/image-startarrow.imageset/image-startarrow@3x.png
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/Community/Community.storyboard
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/Home/Home.storyboard
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/MyLocation/MyLocation.storyboard
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/Profile/Profile.storyboard
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/SignIn.storyboard
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/TabRouter.storyboard
  frontend-ios/YakAl/YakAl/Sources/Cells/EmptyGroupTableViewCell.swift
  frontend-ios/YakAl/YakAl/Sources/Cells/EmptyGroupTableViewCell.xib
  frontend-ios/YakAl/YakAl/Sources/Cells/TodoTableViewCell.swift
  frontend-ios/YakAl/YakAl/Sources/Cells/TodoTableViewCell.xib
  frontend-ios/YakAl/YakAl/Sources/Cells/xibFileList.swift
  frontend-ios/YakAl/YakAl/Sources/Models/TodoModel.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Home/HomeVC.swift
Labels: 희찬, 레이아웃구성

#15 ✨ feat : 약 추가 버튼 모달 구현
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/button-add-pill.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/button-add-pill.imageset/button-add-pill (pressed)@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon-pill.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon-pill.imageset/icon-pill.png
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/Home/Home.storyboard
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/SignIn.storyboard
  frontend-ios/YakAl/YakAl/Sources/VCs/Home/HomeVC.swift
Labels: enhancement, 희찬, 레이아웃구성

#16 ✨ Home Component 1차 구현
  frontend-android/app/src/main/AndroidManifest.xml
  frontend-android/app/src/main/java/com/viewpharm/yakal/Const.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/ETakingTime.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/PillAdapter.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/PillTodo.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/PillTodoAdapter.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/ui/HomeMainFragment.kt
  frontend-android/app/src/main/res/drawable/bar_home_taking_percent.xml
  frontend-android/app/src/main/res/drawable/cb_home_taking_main.xml
  frontend-android/app/src/main/res/drawable/ic_custom_overlap.png
  frontend-android/app/src/main/res/drawable/ic_home_list_main_taking_off.png
  frontend-android/app/src/main/res/drawable/ic_home_list_main_taking_on.png
  frontend-android/app/src/main/res/drawable/ic_home_list_pill_on.png
  frontend-android/app/src/main/res/drawable/ic_home_list_sub_taking_off.png
  frontend-android/app/src/main/res/drawable/ic_home_list_sub_taking_on.png
  frontend-android/app/src/main/res/drawable/icon_overlap.png
  frontend-android/app/src/main/res/drawable/it_home_pill_main_expand.xml
  frontend-android/app/src/main/res/drawable/it_home_pill_main_shrink.xml
  frontend-android/app/src/main/res/drawable/it_home_pill_sub_last.xml
  frontend-android/app/src/main/res/drawable/it_home_pill_sub_middle.xml
  frontend-android/app/src/main/res/drawable/logo_main.png
  frontend-android/app/src/main/res/drawable/logo_splash.png
  frontend-android/app/src/main/res/drawable/text_splash.png
  frontend-android/app/src/main/res/drawable/view_oval.xml
  frontend-android/app/src/main/res/drawable/view_round.xml
  frontend-android/app/src/main/res/layout/activity_main.xml
  frontend-android/app/src/main/res/layout/activity_splash.xml
  frontend-android/app/src/main/res/layout/fragment_community.xml
  frontend-android/app/src/main/res/layout/fragment_home.xml
  frontend-android/app/src/main/res/layout/fragment_location.xml
  frontend-android/app/src/main/res/layout/item_home_pill_main.xml
  frontend-android/app/src/main/res/layout/item_home_pill_sub.xml
  frontend-android/app/src/main/res/menu/bottom_navigation_menu.xml
  frontend-android/app/src/main/res/values/colors.xml
Labels: enhancement, 형준

#18 ✨ Kakao Login 테스트 및 Google Login 구현/테스트 완료
  backend-server/src/main/java/com/viewpharm/yakal/controller/AuthController.java
  backend-server/src/main/java/com/viewpharm/yakal/security/JwtProvider.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/utils/OAuth2Util.java
Labels: enhancement, 형준

#14 🎨 중복검사 로직 변경 및 Risk (위험도 테이블 추가)
  backend-server/src/main/java/com/viewpharm/yakal/controller/DoseController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Dose.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Risk.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/CreateScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/OneMedicineScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/OneScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/UpdateIsAllowedNotificationDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/UpdateIsDetailDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/UpdateIsTakenDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/UpdateNameDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/UpdateUserInfoDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/OneDayScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/OneTimeScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/OverlapDto.java
  backend-server/src/main/java/com/viewpharm/yakal/exception/ErrorCode.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DoseDslRepositoryImpl.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/RiskRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
  backend-server/src/test/java/com/viewpharm/yakal/service/DoseServiceTest.java
Labels: enhancement, 찬진

#19 ✨ Apple Login 구현
  backend-server/build.gradle
  backend-server/src/main/java/com/viewpharm/yakal/controller/AuthController.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/NotificationService.java
  backend-server/src/main/java/com/viewpharm/yakal/utils/OAuth2Util.java
Labels: enhancement, 도훈

#20 🚨 Delete AuthController Test Code
  backend-server/src/test/java/com/viewpharm/yakal/domain/auth/controller/AuthControllerTest.java
Labels: bug, 도훈

#21 🐛 : Transactional 및 Scheduled 충돌 오류 수정, 퀴리 오류 수정
  backend-server/src/main/java/com/viewpharm/yakal/controller/NotificationController.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/MobileUserRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/NotificationScheduleService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/NotificationService.java
Labels: enhancement, 우빈

#23 ⚡ Notification Query Native 방식으로 변경 🔥 Q파일 삭제
  backend-server/.gitignore
  backend-server/src/main/generated/com/viewpharm/yakal/domain/QDose.java
  backend-server/src/main/generated/com/viewpharm/yakal/domain/QMobileUser.java
  backend-server/src/main/generated/com/viewpharm/yakal/domain/QNotification.java
  backend-server/src/main/generated/com/viewpharm/yakal/domain/QPrescription.java
  backend-server/src/main/generated/com/viewpharm/yakal/domain/QUser.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/NotificationController.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/MobileUserRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/NotificationScheduleService.java
Labels: enhancement, 우빈

#29 🐛 fix: Dialog 연결 오류 해결
  frontend-android/app/src/main/AndroidManifest.xml
  frontend-android/app/src/main/java/com/viewpharm/yakal/adapter/PillAdapter.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/adapter/PillTodoAdapter.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/ui/HomeMainFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/ui/OverlapBottomDialog.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/view/CalenderActivity.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/view/MainActivity.kt
  frontend-android/app/src/main/res/drawable/ic_custom_big_close.xml
  frontend-android/app/src/main/res/layout/activity_main.xml
  frontend-android/app/src/main/res/layout/fragment_overlap_bottom_sheet.xml
  frontend-android/app/src/main/res/layout/item_home_pill_sub.xml
Labels: enhancement, 형준, android

#30 ✨ Feat: todo View 구현
  frontend-ios/YakAl/.DS_Store
  frontend-ios/YakAl/YakAl.xcodeproj/project.pbxproj
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Check_disable.imageset/Check_disable@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Check_disable.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Check_disable_end.imageset/Check_disable_end@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Check_disable_end.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Check_disable_ing.imageset/Check_disable_ing@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Check_disable_ing.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Green-Light.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Green-Light.imageset/Green-Light@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Red-Light.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Red-Light.imageset/Red-Light@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Yellow-Light.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Yellow-Light.imageset/Yellow-Light@3x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon-mainpill(1).imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon-mainpill(1).imageset/icon-mainpill(1).png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon-mainpill(2).imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon-mainpill(2).imageset/icon-mainpill(2).png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/image_덱시로펜정.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/image_덱시로펜정.imageset/image_덱시로펜정.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/다른 날짜 복약정보.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/다른 날짜 복약정보.imageset/다른 날짜 복약정보.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/다른 날짜 복약정보.imageset/다른 날짜 복약정보@2x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/다른 날짜 복약정보.imageset/다른 날짜 복약정보@3x.png
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/Home/Home.storyboard
  frontend-ios/YakAl/YakAl/Sources/Cells/EmptyGroupTableViewCell.swift
  frontend-ios/YakAl/YakAl/Sources/Cells/EmptyGroupTableViewCell.xib
  frontend-ios/YakAl/YakAl/Sources/Cells/Todo/TodoCVC.swift
  frontend-ios/YakAl/YakAl/Sources/Cells/TodoTVC.swift
  frontend-ios/YakAl/YakAl/Sources/Cells/TodoTVC.xib
  frontend-ios/YakAl/YakAl/Sources/Cells/TodoTableViewCell.swift
  frontend-ios/YakAl/YakAl/Sources/Cells/TodoTableViewCell.xib
  frontend-ios/YakAl/YakAl/Sources/Models/MedicineModel.swift
  frontend-ios/YakAl/YakAl/Sources/Models/TodoModel.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Home/HomeVC.swift
  frontend-ios/YakAl/YakAl/Sources/Views/CircularProgressBarView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/UITableViewCell.swift
Labels: enhancement, 희찬, ios

#34 🚀 CI/CD Test 2차
  backend-server/build.gradle
  backend-server/src/test/java/com/viewpharm/yakal/YakalApplicationTests.java
Labels: server, safe

#35 🐛 fix: docker file 수정
  backend-server/Dockerfile
Labels: server, safe

#37 🚀 fix: 에러 확인 용
  backend-server/src/main/java/com/viewpharm/yakal/exception/GlobalExceptionHandler.java
Labels: server, safe

#46 🎨 refactor: 전문가 웹 프로젝트 구조 개선, 💡 docs: AuthController 주석 처리 및 정리
  .gitsmodules
  backend-server/src/main/java/com/viewpharm/yakal/controller/AuthController.java
  frontend-web-expert/src/api/aixos.ts
  frontend-web-expert/src/api/auth.ts
  frontend-web-expert/src/app.tsx
  frontend-web-expert/src/component/header/index.tsx
  frontend-web-expert/src/component/header/style.ts
  frontend-web-expert/src/component/icon-box/index.tsx
  frontend-web-expert/src/component/icon-box/style.ts
  frontend-web-expert/src/component/profile/index.tsx
  frontend-web-expert/src/component/profile/style.ts
  frontend-web-expert/src/layout/footer/index.tsx
  frontend-web-expert/src/layout/footer/style.ts
  frontend-web-expert/src/layout/header/index.tsx
  frontend-web-expert/src/layout/header/style.ts
  frontend-web-expert/src/layout/login/index.tsx
  frontend-web-expert/src/layout/login/style.ts
  frontend-web-expert/src/layout/logo/index.tsx
  frontend-web-expert/src/layout/main/index.tsx
  frontend-web-expert/src/layout/main/style.ts
  frontend-web-expert/src/layout/root/index.tsx
  frontend-web-expert/src/layout/sidebar/index.tsx
  frontend-web-expert/src/layout/sidebar/style.ts
  frontend-web-expert/src/page/error/index.tsx
  frontend-web-expert/src/page/error/style.ts
  frontend-web-expert/src/page/kakao-login/index.tsx
  frontend-web-expert/src/page/login/index.tsx
  frontend-web-expert/src/page/login/login-main/index.tsx
  frontend-web-expert/src/page/login/login-main/style.ts
  frontend-web-expert/src/page/main/certification/index.tsx
  frontend-web-expert/src/page/main/cohort/index.tsx
  frontend-web-expert/src/page/main/dashboard/index.tsx
  frontend-web-expert/src/page/main/facility/index.tsx
  frontend-web-expert/src/page/main/patient/index.tsx
  frontend-web-expert/src/router/router-map-type.ts
  frontend-web-expert/src/router/router.tsx
  frontend-web-expert/src/router/sidebar-router.ts
  frontend-web-expert/src/state/user.ts
  frontend-web-expert/src/util/slient-refresh.ts
Labels: 도훈, server, safe to server, web

#48 🚨 Kakao login error 수정
  backend-server/src/main/java/com/viewpharm/yakal/config/WebMvcConfig.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/AuthController.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/utils/OAuth2Util.java
  frontend-web-expert/src/asset/PretendardVariable.woff2
  frontend-web-expert/src/asset/checker-off.svg
  frontend-web-expert/src/asset/checker-on.svg
  frontend-web-expert/src/asset/magnifying-glass.svg
  frontend-web-expert/src/asset/page-left.svg
  frontend-web-expert/src/asset/page-right.svg
  frontend-web-expert/src/component/icon-box/style.ts
  frontend-web-expert/src/component/patient-info/index.tsx
  frontend-web-expert/src/component/patient-info/style.ts
  frontend-web-expert/src/component/patient-item/index.tsx
  frontend-web-expert/src/component/patient-item/style.ts
  frontend-web-expert/src/component/profile/style.ts
  frontend-web-expert/src/component/select-patient/index.tsx
  frontend-web-expert/src/component/select-patient/style.ts
  frontend-web-expert/src/layout/certification/index.tsx
  frontend-web-expert/src/layout/main/index.tsx
  frontend-web-expert/src/layout/main/style.ts
  frontend-web-expert/src/layout/sidebar/style.ts
  frontend-web-expert/src/main.tsx
  frontend-web-expert/src/page/login/signup-terms/index.tsx
  frontend-web-expert/src/page/login/signup-terms/style.ts
  frontend-web-expert/src/page/main/patient/index.tsx
  frontend-web-expert/src/page/main/patient/style.ts
  frontend-web-expert/src/router/router.tsx
  frontend-web-expert/src/router/sidebar-router.ts
  frontend-web-expert/src/style/global-style.ts
  frontend-web-expert/src/type/sex.ts
  frontend-web-expert/src/util/get-age.ts
Labels: server, safe to server

#49 🎨 refactor: 인증 처리 코드 정리, 카카오, 구글 로그인 웹 연동 성공
  backend-server/src/main/java/com/viewpharm/yakal/controller/AuthController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/MobileUser.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/User.java
  backend-server/src/main/java/com/viewpharm/yakal/security/JwtProvider.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/utils/OAuth2Util.java
Labels: 도훈, server, safe to server, web

#52 ✨ 전문가 웹 수정된 레이아웃 세팅
  frontend-web-expert/src/asset/doctor-icon.png
  frontend-web-expert/src/component/icon-box/index.tsx
  frontend-web-expert/src/component/icon-box/style.ts
  frontend-web-expert/src/component/navbar-tooltip/index.tsx
  frontend-web-expert/src/component/navbar/index.tsx
  frontend-web-expert/src/component/navbar/style.ts
  frontend-web-expert/src/component/patient-info-text/index.tsx
  frontend-web-expert/src/component/patient-info-text/style.ts
  frontend-web-expert/src/component/patient-info/index.tsx
  frontend-web-expert/src/component/patient-info/loader.ts
  frontend-web-expert/src/component/patient-info/style.ts
  frontend-web-expert/src/component/patient-item/style.ts
  frontend-web-expert/src/component/profile/index.tsx
  frontend-web-expert/src/component/profile/style.ts
  frontend-web-expert/src/component/select-patient/index.tsx
  frontend-web-expert/src/layout/header/style.ts
  frontend-web-expert/src/layout/main/index.tsx
  frontend-web-expert/src/layout/main/style.ts
  frontend-web-expert/src/layout/sidebar/index.tsx
  frontend-web-expert/src/layout/sidebar/style.ts
  frontend-web-expert/src/page/error/index.tsx
  frontend-web-expert/src/page/error/style.ts
  frontend-web-expert/src/page/main/certification/index.tsx
  frontend-web-expert/src/page/main/cohort/index.tsx
  frontend-web-expert/src/page/main/dashboard/index.tsx
  frontend-web-expert/src/page/main/dashboard/style.ts
  frontend-web-expert/src/page/main/facility/index.tsx
  frontend-web-expert/src/page/main/my-info/index.tsx
  frontend-web-expert/src/page/main/patient/index.tsx
  frontend-web-expert/src/page/main/patient/loader.ts
  frontend-web-expert/src/page/main/patient/style.ts
  frontend-web-expert/src/page/main/registration/index.tsx
  frontend-web-expert/src/router/router.tsx
  frontend-web-expert/src/state/user.ts
Labels: 도훈, feature, web

#50 ✨Feat: UiKit Binding With Swift UI
  frontend-ios/.gitignore
  frontend-ios/YakAl/YakAl.xcodeproj/project.pbxproj
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/Home/Home.storyboard
  frontend-ios/YakAl/YakAl/Sources/Classes/MedicationData.swift
  frontend-ios/YakAl/YakAl/Sources/Classes/ProgressNavController.swift
  frontend-ios/YakAl/YakAl/Sources/Models/MedicationModel.swift
  frontend-ios/YakAl/YakAl/Sources/Models/MedicineModel.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Home/HomeVC.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Home/UIHomeVC.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Common/MedicationItemRowView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Common/MedicationRowView.swift
Labels: 희찬, feature, ios

#54 ✨ feat: SignIn/SignUp UI 및 Event 완료
  frontend-android/app/build.gradle
  frontend-android/app/src/main/AndroidManifest.xml
  frontend-android/app/src/main/java/com/viewpharm/yakal/YakalApplication.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/common/GoogleTokenResponse.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/common/YakalError.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/common/YakalResponse.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/repository/GoogleAuthRepository.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/repository/OAuth2Repository.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/repository/YakalRepository.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/repository/YakalRepositoryImpl.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/service/GoogleAuthService.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/service/OauthRetrofitManager.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/service/YakalRetrofitManager.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/service/YakalService.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/type/ESex.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/type/ESignInProvider.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/type/ETerm.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/ui/SignUpCertificationFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/ui/SignUpFinishFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/ui/SignUpModeFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/ui/SignUpNicknameFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/ui/SignUpTermDetailFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/ui/SignUpTermFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/view/CalenderActivity.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/view/MainActivity.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/view/NotificationActivity.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/view/PillDetailActivity.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/view/SignInActivity.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/view/SignUpActivity.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/view/SplashActivity.kt
  frontend-android/app/src/main/res/anim/slide_from_left.xml
  frontend-android/app/src/main/res/anim/slide_from_right.xml
  frontend-android/app/src/main/res/anim/slide_to_left.xml
  frontend-android/app/src/main/res/anim/slide_to_right.xml
  frontend-android/app/src/main/res/drawable/bar_sign_up_percent.xml
  frontend-android/app/src/main/res/drawable/btn_sign_up_next.xml
  frontend-android/app/src/main/res/drawable/btn_sign_up_next_disable.xml
  frontend-android/app/src/main/res/drawable/btn_sign_up_next_enable.xml
  frontend-android/app/src/main/res/drawable/btn_sign_up_skip.xml
  frontend-android/app/src/main/res/drawable/btn_sign_up_text_color.xml
  frontend-android/app/src/main/res/drawable/et_rounded_corner_rectangle.xml
  frontend-android/app/src/main/res/drawable/ic_custom_next_big.xml
  frontend-android/app/src/main/res/drawable/ic_custom_oval_cancel.xml
  frontend-android/app/src/main/res/drawable/ic_google_login.png
  frontend-android/app/src/main/res/drawable/ic_kakao_login.png
  frontend-android/app/src/main/res/drawable/selector_radio_button.xml
  frontend-android/app/src/main/res/drawable/view_oval_next.xml
  frontend-android/app/src/main/res/layout/activity_sign_in.xml
  frontend-android/app/src/main/res/layout/activity_sign_up.xml
  frontend-android/app/src/main/res/layout/activity_splash.xml
  frontend-android/app/src/main/res/layout/fragment_sign_up_certification.xml
  frontend-android/app/src/main/res/layout/fragment_sign_up_finish.xml
  frontend-android/app/src/main/res/layout/fragment_sign_up_mode.xml
  frontend-android/app/src/main/res/layout/fragment_sign_up_nickname.xml
  frontend-android/app/src/main/res/layout/fragment_sign_up_term.xml
  frontend-android/app/src/main/res/layout/fragment_sign_up_term_detail.xml
  frontend-android/app/src/main/res/navigation/sign_up_nav_graph.xml
  frontend-android/app/src/main/res/values/strings.xml
  frontend-android/build.gradle
  frontend-android/settings.gradle
Labels: 형준, feature, android

#57 ✨ 전문가 웹 환자 정보 UI 구현
  backend-server/src/main/java/com/viewpharm/yakal/controller/AuthController.java
  backend-server/src/main/java/com/viewpharm/yakal/security/JwtProvider.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  frontend-web-expert/package-lock.json
  frontend-web-expert/package.json
  frontend-web-expert/src/asset/back-icon.svg
  frontend-web-expert/src/asset/green-icon.svg
  frontend-web-expert/src/asset/red-icon.svg
  frontend-web-expert/src/asset/yellow-icon.svg
  frontend-web-expert/src/component/navbar/child/navbar-tooltip/index.tsx
  frontend-web-expert/src/component/navbar/index.tsx
  frontend-web-expert/src/component/navbar/style.ts
  frontend-web-expert/src/component/patient-info/index.tsx
  frontend-web-expert/src/component/patient-info/style.ts
  frontend-web-expert/src/layout/main/child/profile/index.tsx
  frontend-web-expert/src/layout/main/child/profile/style.ts
  frontend-web-expert/src/layout/main/index.tsx
  frontend-web-expert/src/layout/main/style.ts
  frontend-web-expert/src/page/main/dashboard/index.tsx
  frontend-web-expert/src/page/main/dashboard/style.ts
  frontend-web-expert/src/page/main/patient-info/child/dose-list/index.tsx
  frontend-web-expert/src/page/main/patient-info/child/dose-list/style.ts
  frontend-web-expert/src/page/main/patient-info/child/health-food-list/index.tsx
  frontend-web-expert/src/page/main/patient-info/child/health-food-list/style.ts
  frontend-web-expert/src/page/main/patient-info/child/patient-info-text/index.tsx
  frontend-web-expert/src/page/main/patient-info/child/patient-info-text/style.ts
  frontend-web-expert/src/page/main/patient-info/child/prescription-list/index.tsx
  frontend-web-expert/src/page/main/patient-info/child/prescription-list/style.ts
  frontend-web-expert/src/page/main/patient-info/child/special-note/index.tsx
  frontend-web-expert/src/page/main/patient-info/child/special-note/style.ts
  frontend-web-expert/src/page/main/patient-info/child/survey-result/index.tsx
  frontend-web-expert/src/page/main/patient-info/child/survey-result/style.ts
  frontend-web-expert/src/page/main/patient-info/index.tsx
  frontend-web-expert/src/page/main/patient-info/loader.ts
  frontend-web-expert/src/page/main/patient-info/style.ts
  frontend-web-expert/src/page/main/patient-list/child/patient-item/index.tsx
  frontend-web-expert/src/page/main/patient-list/child/patient-item/style.ts
  frontend-web-expert/src/page/main/patient-list/index.tsx
  frontend-web-expert/src/page/main/patient-list/loader.ts
  frontend-web-expert/src/page/main/patient-list/style.ts
  frontend-web-expert/src/router/router.tsx
  frontend-web-expert/src/router/sidebar-router.ts
  frontend-web-expert/src/state/user.ts
  frontend-web-expert/src/style/global-style.ts
  frontend-web-expert/src/type/period.ts
Labels: 도훈, feature, web

#61 feat: mypage main view 구현
  frontend-android/app/src/main/AndroidManifest.xml
  frontend-android/app/src/main/java/com/viewpharm/yakal/ui/NicknameEditDialog.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/ui/ProfileMainFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/view/MainActivity.kt
  frontend-android/app/src/main/res/drawable/btn_home_bell.xml
  frontend-android/app/src/main/res/drawable/btn_home_taking.xml
  frontend-android/app/src/main/res/drawable/btn_white_ripple.xml
  frontend-android/app/src/main/res/drawable/ic_custom_big_close.xml
  frontend-android/app/src/main/res/drawable/ic_custom_empty_bell.xml
  frontend-android/app/src/main/res/drawable/ic_custom_health.xml
  frontend-android/app/src/main/res/drawable/ic_custom_house.xml
  frontend-android/app/src/main/res/drawable/ic_custom_setting.xml
  frontend-android/app/src/main/res/layout/activity_calender.xml
  frontend-android/app/src/main/res/layout/fragment_calender_bottom_sheet.xml
  frontend-android/app/src/main/res/layout/fragment_home.xml
  frontend-android/app/src/main/res/layout/fragment_nickname_edit_bottom_sheet.xml
  frontend-android/app/src/main/res/layout/fragment_overlap_bottom_sheet.xml
  frontend-android/app/src/main/res/layout/fragment_profile.xml
  frontend-android/app/src/main/res/layout/item_home_pill_sub.xml
  frontend-android/app/src/main/res/navigation/main_nav_graph.xml
  frontend-android/app/src/main/res/values/style.xml
Labels: enhancement, 형준, feature, android

#60 ✨ feat : 캘린더, 마이페이지
  frontend-ios/YakAl/.DS_Store
  frontend-ios/YakAl/YakAl.xcodeproj/project.pbxproj
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/bell.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/bell.imageset/bell.svg
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/gear.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/gear.imageset/gear.svg
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/house-home.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/house-home.imageset/house-home.svg
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon-health.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/icon-health.imageset/icon-health.svg
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/next-month.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/next-month.imageset/next-month.svg
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/previous-month.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/previous-month.imageset/previous-month.svg
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/Home/Home.storyboard
  frontend-ios/YakAl/YakAl/Sources/Classes/MedicationData.swift
  frontend-ios/YakAl/YakAl/Sources/Models/MedicationModel.swift
  frontend-ios/YakAl/YakAl/Sources/Models/MedicineModel.swift
  frontend-ios/YakAl/YakAl/Sources/Models/UserModel.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Calendar/CalendarViewController.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Home/HomeVC.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Home/UIHomeVC.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Medication/MedicineDetailView.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Profile/ProfileVC.swift
  frontend-ios/YakAl/YakAl/Sources/Views/CalendarSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Common/MedicationItemRowView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Common/MedicationRowView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/MypageSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/ProfileSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/SettingButtonSwiftUI.swift
  frontend-ios/YakAl/YakAl/Sources/Views/UITableViewCell.swift
Labels: 희찬, feature, ios

#58 ✨Feat: Image Upload & Download
  backend-server/src/main/java/com/viewpharm/yakal/controller/ImageController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Image.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Medical.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/MobileUser.java
  backend-server/src/main/java/com/viewpharm/yakal/exception/ErrorCode.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/ImageRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/MedicalRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/ImageService.java
  backend-server/src/main/java/com/viewpharm/yakal/type/EImageUseType.java
Labels: 찬진, feature, server

#64 ✨ 서버 이미지 업로드/다운로드
  backend-server/src/main/java/com/viewpharm/yakal/controller/ImageController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Image.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Medical.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/MobileUser.java
  backend-server/src/main/java/com/viewpharm/yakal/exception/ErrorCode.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/ImageRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/MedicalRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/ImageService.java
  backend-server/src/main/java/com/viewpharm/yakal/type/EImageUseType.java
Labels: 찬진, fix, server

#62 ✨ 서버 토큰 체크 및 회원가입 여부 체크 기능 추가
  backend-server/src/main/java/com/viewpharm/yakal/YakalApplication.java
  backend-server/src/main/java/com/viewpharm/yakal/common/Constants.java
  backend-server/src/main/java/com/viewpharm/yakal/config/SecurityConfig.java
  backend-server/src/main/java/com/viewpharm/yakal/config/WebMvcConfig.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/AuthController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/UserController.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/UpdateUserInfoDto.java
  backend-server/src/main/java/com/viewpharm/yakal/interceptor/UserIdArgumentResolver.java
  backend-server/src/main/java/com/viewpharm/yakal/interceptor/UserIdInterceptor.java
  backend-server/src/main/java/com/viewpharm/yakal/security/JwtAuthenticationFilter.java
  backend-server/src/main/java/com/viewpharm/yakal/security/JwtExceptionFilter.java
  backend-server/src/main/java/com/viewpharm/yakal/security/JwtProvider.java
  backend-server/src/main/java/com/viewpharm/yakal/security/UserDetailServiceForLoad.java
  backend-server/src/main/java/com/viewpharm/yakal/service/UserService.java
  backend-server/src/main/java/com/viewpharm/yakal/type/ESex.java
  backend-server/src/main/java/com/viewpharm/yakal/type/EValidity.java
  backend-server/src/main/java/com/viewpharm/yakal/validator/DateValidator.java
  frontend-web-expert/src/layout/main/style.ts
  frontend-web-expert/src/page/main/patient-info/child/dose-list/index.tsx
  frontend-web-expert/src/page/main/patient-info/child/dose-list/style.ts
  frontend-web-expert/src/page/main/patient-info/child/health-food-list/style.ts
  frontend-web-expert/src/page/main/patient-info/child/prescription-list/style.ts
  frontend-web-expert/src/page/main/patient-info/child/special-note/style.ts
  frontend-web-expert/src/page/main/patient-info/child/survey-result/style.ts
  frontend-web-expert/src/page/main/patient-info/style.ts
Labels: 도훈, feature, fix, server, safe to server

#65 🗃️ User Table 병합, DB DDL 작성 🔥 불필요한 CORS 처리 삭제
  backend-server/build.gradle
  backend-server/src/main/java/com/viewpharm/yakal/config/QueryDslConfig.java
  backend-server/src/main/java/com/viewpharm/yakal/config/WebMvcConfig.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/AuthController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/UserController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Dose.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Image.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Medical.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/MobileUser.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Notification.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Prescription.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Risk.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/User.java
  backend-server/src/main/java/com/viewpharm/yakal/exception/ErrorCode.java
  backend-server/src/main/java/com/viewpharm/yakal/filter/GlobalResponseFilter.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DoseDslRepositoryImpl.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/IDoseDslRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/ImageRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/MobileUserRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/NotificationRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/PrescriptionRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/UserRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/security/UserDetailServiceForLoad.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/ImageService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/NotificationScheduleService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/NotificationService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/UserService.java
  backend-server/src/main/java/com/viewpharm/yakal/utils/NotificationUtil.java
  backend-server/src/main/resources/schema.sql
Labels: 도훈, server, safe to server, refator

#66 🚨 요청 무한루프 에러 해결
  backend-server/src/main/java/com/viewpharm/yakal/controller/UserController.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/UserInfoDto.java
  frontend-web-expert/package-lock.json
  frontend-web-expert/package.json
  frontend-web-expert/src/state/slice/auth.ts
Labels: bug, 도훈, fix, server, safe to server

#68 ♻️ Refactor: Calendar View Comment, 리펙토링 작업
  frontend-ios/YakAl/.DS_Store
  frontend-ios/YakAl/YakAl.xcodeproj/project.pbxproj
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon-OTC.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon-OTC.imageset/icon-OTC.svg
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon-envelope.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon-envelope.imageset/icon-envelope.svg
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon-pencil-box.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon-pencil-box.imageset/icon-pencil-box.svg
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/다른 날짜 복약정보.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/다른 날짜 복약정보.imageset/다른 날짜 복약정보.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/다른 날짜 복약정보.imageset/다른 날짜 복약정보@2x.png
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/다른 날짜 복약정보.imageset/다른 날짜 복약정보@3x.png
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/Home/Home.storyboard
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/TabRouter.storyboard
  frontend-ios/YakAl/YakAl/Sources/Classes/CustomTabBar.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Calendar/CalendarHeaderChangeMonthSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Calendar/CalendarSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Calendar/CalendarTodoHeaderSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Calendar/CalendarWeekSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Common/CircularProgressBarWithText.swift
Labels: 희찬, ios, refator

#70 ✨ 게시판, 댓글, 좋아요 기능 구현
  backend-server/src/main/java/com/viewpharm/yakal/YakalApplication.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/BoardController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/CommentController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/DoseController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/NotificationController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/BaseCreateEntity.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Board.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Comment.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Like.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Notification.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/User.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/BoardRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/CommentForUpdateRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/CommentRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/BoardDetailDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/BoardListDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/CommentListDto.java
  backend-server/src/main/java/com/viewpharm/yakal/exception/ErrorCode.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/BoardRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/CommentRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/LikeRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/BoardService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/CommentService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/NotificationService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/UserService.java
  backend-server/src/main/java/com/viewpharm/yakal/type/EDisease.java
  backend-server/src/main/java/com/viewpharm/yakal/type/ERegion.java
  backend-server/src/main/java/com/viewpharm/yakal/utils/BoardUtil.java
  backend-server/src/main/resources/schema.sql
Labels: 우빈, feature, server, safe to server

#72 ✨ 위치기반 서비스 구현
  backend-server/build.gradle
  backend-server/src/main/java/com/viewpharm/yakal/controller/AdminController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/MedicalController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Medical.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/PointDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/MedicalRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/MedicalDto.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/MedicalRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/MedicalService.java
  backend-server/src/main/java/com/viewpharm/yakal/type/EMedical.java
  backend-server/src/main/java/com/viewpharm/yakal/utils/GeometryUtil.java
Labels: 찬진, feature, server, safe to server

#73 ✨ 전문가 웹 서버와 소셜 로그인 연동 🐛 인증 관련 서버 오류 수정
  backend-server/src/main/java/com/viewpharm/yakal/config/CorsConfig.java
  backend-server/src/main/java/com/viewpharm/yakal/config/SecurityConfig.java
  backend-server/src/main/java/com/viewpharm/yakal/config/WebMvcConfig.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/AuthController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/UserController.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/UserInfoDto.java
  backend-server/src/main/java/com/viewpharm/yakal/exception/ErrorCode.java
  backend-server/src/main/java/com/viewpharm/yakal/filter/GlobalResponseFilter.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/UserRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/security/JwtAuthenticationFilter.java
  backend-server/src/main/java/com/viewpharm/yakal/security/JwtExceptionFilter.java
  backend-server/src/main/java/com/viewpharm/yakal/security/JwtProvider.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  frontend-web-expert/package-lock.json
  frontend-web-expert/package.json
  frontend-web-expert/src/api/aixos.ts
  frontend-web-expert/src/api/api.ts
  frontend-web-expert/src/api/auth.ts
  frontend-web-expert/src/api/type.ts
  frontend-web-expert/src/api/user.ts
  frontend-web-expert/src/app.tsx
  frontend-web-expert/src/component/navbar/index.tsx
  frontend-web-expert/src/layout/main/index.tsx
  frontend-web-expert/src/main.tsx
  frontend-web-expert/src/page/login/login-main/index.tsx
  frontend-web-expert/src/page/login/social-login-proxy/index.tsx
  frontend-web-expert/src/page/main/patient-info/loader.ts
  frontend-web-expert/src/page/main/patient-list/loader.ts
  frontend-web-expert/src/router/router.tsx
  frontend-web-expert/src/state/slice/auth.ts
  frontend-web-expert/src/store/auth.ts
  frontend-web-expert/src/store/store.ts
  frontend-web-expert/src/store/user.ts
Labels: 도훈, feature, fix, server, safe to server, web

#75 🔥 알림 필요없는 코드 및 파일 삭제
  backend-server/src/main/java/com/viewpharm/yakal/controller/NotificationController.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/MessageDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/NotificationTestRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/service/BoardService.java
  backend-server/src/main/java/com/viewpharm/yakal/utils/NotificationUtil.java
  backend-server/src/main/resources/schema.sql
Labels: 우빈, feature, server, safe to server

#77 🐛fix : 약추가 API DTO 수정
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/CreateScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/OneMedicineScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/OneScheduleDto.java
Labels: fix, server, safe to server

#78 ✨ 자잘한 backend 에러 처리 수정
  backend-server/src/main/java/com/viewpharm/yakal/controller/DoseController.java
  backend-server/src/main/java/com/viewpharm/yakal/exception/GlobalExceptionHandler.java
  backend-server/src/main/java/com/viewpharm/yakal/security/JwtExceptionFilter.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
  frontend-web-expert/index.html
  frontend-web-expert/package.json
  frontend-web-expert/src/layout/footer/style.ts
  frontend-web-expert/src/layout/main/style.ts
  frontend-web-expert/src/main.tsx
  frontend-web-expert/src/page/login/identification-page/index.tsx
  frontend-web-expert/src/page/main/patient-list/child/patient-item/style.ts
  frontend-web-expert/src/style/global-style.ts
  frontend-web-expert/vite.config.ts
Labels: 도훈, feature, server, safe to server

#81 ✨ 전문가 웹 반응형 UI 적용
  frontend-web-expert/index.html
  frontend-web-expert/package-lock.json
  frontend-web-expert/package.json
  frontend-web-expert/src/component/navbar/child/navbar-tooltip/index.tsx
  frontend-web-expert/src/component/navbar/index.tsx
  frontend-web-expert/src/component/navbar/style.ts
  frontend-web-expert/src/component/warning-page/index.tsx
  frontend-web-expert/src/component/warning-page/style.ts
  frontend-web-expert/src/layout/header/index.tsx
  frontend-web-expert/src/layout/header/style.ts
  frontend-web-expert/src/layout/login/index.tsx
  frontend-web-expert/src/layout/main/child/profile/index.tsx
  frontend-web-expert/src/layout/main/child/profile/style.ts
  frontend-web-expert/src/layout/main/index.tsx
  frontend-web-expert/src/layout/main/style.ts
  frontend-web-expert/src/page/error-page/index.tsx
  frontend-web-expert/src/page/error-page/style.ts
  frontend-web-expert/src/page/loading-page/index.tsx
  frontend-web-expert/src/page/login/identification-failure/index.tsx
  frontend-web-expert/src/page/login/identification-failure/style.ts
  frontend-web-expert/src/page/login/identification-page/index.tsx
  frontend-web-expert/src/page/login/identification-page/style.ts
  frontend-web-expert/src/page/login/login-main/index.tsx
  frontend-web-expert/src/page/login/login-main/style.ts
  frontend-web-expert/src/page/login/signup-terms/style.ts
  frontend-web-expert/src/page/login/social-login-failure/index.tsx
  frontend-web-expert/src/page/login/social-login-failure/style.ts
  frontend-web-expert/src/page/main/dashboard/index.tsx
  frontend-web-expert/src/page/main/dashboard/menu-item/style.ts
  frontend-web-expert/src/page/main/dashboard/style.ts
  frontend-web-expert/src/page/main/patient-info/child/dose-list/index.tsx
  frontend-web-expert/src/page/main/patient-info/child/dose-list/style.ts
  frontend-web-expert/src/page/main/patient-info/child/health-food-list/index.tsx
  frontend-web-expert/src/page/main/patient-info/child/health-food-list/style.ts
  frontend-web-expert/src/page/main/patient-info/child/prescription-list/index.tsx
  frontend-web-expert/src/page/main/patient-info/child/prescription-list/style.ts
  frontend-web-expert/src/page/main/patient-info/child/special-note/index.tsx
  frontend-web-expert/src/page/main/patient-info/child/special-note/style.ts
  frontend-web-expert/src/page/main/patient-info/child/survey-result/index.tsx
  frontend-web-expert/src/page/main/patient-info/child/survey-result/style.ts
  frontend-web-expert/src/page/main/patient-info/style.ts
  frontend-web-expert/src/page/main/patient-list/child/patient-item/index.tsx
  frontend-web-expert/src/page/main/patient-list/child/patient-item/style.ts
  frontend-web-expert/src/page/main/patient-list/index.tsx
  frontend-web-expert/src/page/main/patient-list/style.ts
  frontend-web-expert/src/store/user.ts
  frontend-web-expert/src/style/global-style.ts
  frontend-web-expert/src/type/job.ts
  frontend-web-expert/src/type/patient-filter.ts
Labels: 도훈, feature, web

#74 ✨ feat : Mypage 1차 작업
  frontend-ios/YakAl/.DS_Store
  frontend-ios/YakAl/YakAl.xcodeproj/project.pbxproj
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon-afternoon.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon-afternoon.imageset/icon-afternoon.svg
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon-evening.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon-evening.imageset/icon-evening.svg
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon-morning.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon-morning.imageset/icon-morning.svg
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/image_덱시로펜정.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Sources/Views/Common/BlueHorizontalButton.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Common/DatePickerModalView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/KakaoSettingView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/ModeButton.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/MypageSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/SettingButtonSwiftUI.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/SettingSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/TimeSettingView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/TimeSlotView.swift
Labels: 희찬, feature, ios
