Repository View-Pharm/YakAl, pull requests merged in 2023-09, with the labels that each got.

#83 WEP API 구현
  backend-server/src/main/java/com/viewpharm/yakal/controller/AdminController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/ExpertController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/ImageController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/PrescriptionController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Expert.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Image.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Medical.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Prescription.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Risk.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/User.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/CreatePrescriptionDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/PrescribedDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/UserExpertDto.java
  backend-server/src/main/java/com/viewpharm/yakal/exception/ErrorCode.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/ExpertRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/ImageRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/MedicalRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/PrescriptionRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/ExpertService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/ImageService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/MedicalService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/PrescriptionService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/UserService.java
  backend-server/src/main/java/com/viewpharm/yakal/type/EImageUseType.java
Labels: 찬진, feature, server

#90 🐛fix : Pathvariable 한글 문제 및 Responce Dto로 변경
  backend-server/src/main/java/com/viewpharm/yakal/controller/AdminController.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/MedicalDto.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/MedicalService.java
Labels: 찬진, fix, server

#89 ✨ feat : 설문조사 페이지 : 우울증, 복약 순응도
  frontend-ios/YakAl/YakAl.xcodeproj/project.pbxproj
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Check_fill.imageset/Check_fill.svg
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/icon/Check_fill.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/TabRouter.storyboard
  frontend-ios/YakAl/YakAl/Sources/Views/Common/BlueHorizontalButton.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/AlertSettingSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/ConfromityTestSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/DepressionTestSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/DiagnosticTestSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/DrinkingTestSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/HealthFoodSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/InfoBoxView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/InsomniaTestSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/KakaoSettingView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/MypageSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/OptionButton.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/ResultBoxSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/RowQuetionView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/SettingButtonSwiftUI.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/SettingSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/SmokingTestSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/TestDoneSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/TestListSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/TimeSettingView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/WishYakalSwiftUIView.swift
Labels: 희찬, feature, ios

#93 ✨ feat: 음주력, 흡연력, 불면증 테스트 구성
  frontend-ios/YakAl/YakAl.xcodeproj/project.pbxproj
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/default_circle.imageset/Contents.json
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/default_circle.imageset/default_circle.svg
  frontend-ios/YakAl/YakAl/Sources/Classes/LogoutCoordinator.swift
  frontend-ios/YakAl/YakAl/Sources/Extensions/ViewExtension.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/ConfromityTestSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/DepressionTestSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/DrinkingTestSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/EditNicknameView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/InsomniaTestSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/LogoutModalView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/ModeButton.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/MypageSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/ResultBoxSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/RowQuetionView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/SettingSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/SignOutSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/SmokingTestSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/TestDoneSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/TestListSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/TimeSettingView.swift
Labels: 희찬, feature, ios

#94 ✨ feat: mypage 설문조사 제외 완료
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/activity/MainActivity.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/fragment/MainProfileFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/fragment/NotificationSettingFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/fragment/OpinionExitFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/fragment/OpinionFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/model/Opinion.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/viewmodel/NotificationSettingViewModel.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/viewmodel/OpinionViewModel.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/view/SplashActivity.kt
  frontend-android/app/src/main/res/drawable/btn_opinion_exit.xml
  frontend-android/app/src/main/res/drawable/switch_thumb.xml
  frontend-android/app/src/main/res/drawable/switch_track.xml
  frontend-android/app/src/main/res/drawable/switch_track_off.xml
  frontend-android/app/src/main/res/drawable/switch_track_on.xml
  frontend-android/app/src/main/res/layout/fragment_main_profile.xml
  frontend-android/app/src/main/res/layout/fragment_notification_setting.xml
  frontend-android/app/src/main/res/layout/fragment_opinion.xml
  frontend-android/app/src/main/res/layout/fragment_opinion_exit.xml
  frontend-android/app/src/main/res/navigation/main_nav_graph.xml
Labels: 형준, feature, android

#92 ✨ 알림 통계 사용자 통계 기능 추가 🎨 전문가 기능 컨트롤러 api 수정 및 구조 변경
  backend-server/src/main/java/com/viewpharm/yakal/controller/AdminController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/AuthController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/BoardController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/CounselController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/DiagnosisController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/ExpertController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/HealthFoodController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/NotificationController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/SurveyController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Answer.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/LoginLog.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Note.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/NoteRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/NotificationTokenRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/AnswerAllDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/DoseCountDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/LoginLogListDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/LoginLogListForMonthDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/LoginLogMonthListDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/NoteAllDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/NotificationPerHourListDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/PatientDto.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/AnswerRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/CounselRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/LoginLogRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/NotificationRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/BoardService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/CounselService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/LoginLogService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/NotificationScheduleService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/NotificationService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/SurbeyService.java
Labels: 우빈, feature, fix, server

#99 fix : 자잘한 수정
  backend-server/src/main/java/com/viewpharm/yakal/controller/AdminController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/DoseController.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/OneDaySummaryDto.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/UserRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/UserService.java
Labels: 찬진, fix, server, safe to server

#104 🎨 refactor: mvvm패턴 적용 완료, navigraph 완료
  frontend-android/app/src/main/AndroidManifest.xml
  frontend-android/app/src/main/java/com/viewpharm/yakal/adapter/CalendarAdapter.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/dialog/CalendarBottomDialog.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/activity/CalenderActivity.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/activity/MainActivity.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/activity/MainCallBack.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/adapter/CalendarAdapter.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/adapter/PillParentAdapter.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/fragment/MainHomeFragment.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/model/DayState.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/model/OpinionState.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/viewmodel/CalendarViewModel.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/main/viewmodel/HomeTodoViewModel.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/util/CalendarUtil.kt
  frontend-android/app/src/main/java/com/viewpharm/yakal/view/CalenderActivity.kt
  frontend-android/app/src/main/res/drawable/ic_custom_down_arrow.xml
  frontend-android/app/src/main/res/layout/activity_calender.xml
  frontend-android/app/src/main/res/layout/item_calendar.xml
  frontend-android/app/src/main/res/navigation/main_nav_graph.xml
Labels: 형준, android, refator

#108 ✨ DDL 수정 및 약 이름 테이블 추가
  backend-server/src/main/java/com/viewpharm/yakal/domain/Dose.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/DoseName.java
  backend-server/src/main/java/com/viewpharm/yakal/exception/ErrorCode.java
  backend-server/src/main/resources/schema.sql
Labels: 우빈, feature, fix, server

#109 ✨ Feat: 약물 디테일 페이지 완성
  frontend-ios/YakAl/.DS_Store
  frontend-ios/YakAl/YakAl.xcodeproj/project.pbxproj
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/Home/Home.storyboard
  frontend-ios/YakAl/YakAl/Sources/VCs/Medication/MedicineDetailVC.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Medication/MedicineDetailView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Common/MedicationItemRowView.swift
Labels: 희찬, feature, ios

#113 fix: webApi 추가사항
  backend-server/src/main/java/com/viewpharm/yakal/controller/AdminController.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/MedicalRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/MedicalService.java
Labels: safe to server

#114 Feat : OCR 추가
  ocr/ocr.py
Labels: 우빈, 찬진, feature, ai

#115 ✨ Feat: 약물 검색 및 데이터 연결
  frontend-ios/YakAl/.DS_Store
  frontend-ios/YakAl/YakAl.xcodeproj/project.pbxproj
  frontend-ios/YakAl/YakAl/.DS_Store
  frontend-ios/YakAl/YakAl/Resources/.DS_Store
  frontend-ios/YakAl/YakAl/Resources/Assets.xcassets/.DS_Store
  frontend-ios/YakAl/YakAl/Resources/StoryBoards/Home/Home.storyboard
  frontend-ios/YakAl/YakAl/Sources/Classes/MedicationData.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Home/HomeVC.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Medication/MedicineAddDirectVC.swift
  frontend-ios/YakAl/YakAl/Sources/VCs/Profile/ProfileVC.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Common/MedicationRowView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Medicine/DirectAddMedicineSwiftUIView.swift
  frontend-ios/YakAl/YakAl/Sources/Views/Mypage/TestListSwiftUIView.swift
Labels: 희찬, feature, ios

#117 ✨ 전문가 웹 시연용 더미 데이터 적용
  backend-server/src/main/java/com/viewpharm/yakal/controller/AdminController.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/MedicalListAndTotalDto.java
  backend-server/src/main/java/com/viewpharm/yakal/service/AuthService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/CounselService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/ExpertService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/MedicalService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/RegistrationService.java
  frontend-web/src/admin/page/main/facility-registration-list/index.tsx
  frontend-web/src/expert/api/facility-list.ts
  frontend-web/src/expert/asset/10.jpg
  frontend-web/src/expert/layout/main/index.tsx
  frontend-web/src/expert/page/main/certification-failure/index.tsx
  frontend-web/src/expert/page/main/certification-failure/style.ts
  frontend-web/src/expert/page/main/certification-success/index.tsx
  frontend-web/src/expert/page/main/certification-success/style.ts
  frontend-web/src/expert/page/main/expert-certification/index.tsx
  frontend-web/src/expert/page/main/expert-certification/style.ts
  frontend-web/src/expert/page/main/my-info/index.tsx
  frontend-web/src/expert/page/main/patient-info/child/dose-list/index.tsx
  frontend-web/src/expert/page/main/patient-info/child/health-food-list/index.tsx
  frontend-web/src/expert/page/main/patient-info/child/prescription-list/index.tsx
  frontend-web/src/expert/page/main/patient-info/child/special-note/index.tsx
  frontend-web/src/expert/page/main/patient-info/child/survey-result/index.tsx
  frontend-web/src/expert/page/main/patient-list/child/patient-item/index.tsx
  frontend-web/src/expert/page/main/patient-list/index.tsx
  frontend-web/src/expert/page/main/registration-failure/index.tsx
  frontend-web/src/expert/page/main/registration-success/index.tsx
  frontend-web/src/expert/store/store.ts
  frontend-web/src/expert/util/slient-refresh.ts
  frontend-web/src/global/router.tsx
Labels: 도훈, feature, safe to server, web

#122 ✨🐛 2차 시작전 테스팅 및 WEB 추가 요구사항 추가
  backend-server/src/main/java/com/viewpharm/yakal/controller/ImageController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Dose.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Medical.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Risk.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/MedicalRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/MedicalDtoListAndTotal.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DoesNameRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/MedicalRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/MedicalService.java
  backend-server/src/main/java/com/viewpharm/yakal/type/EMedicalProperties.java
Labels: 찬진, feature, fix, safe to server

#123 ✨ feat : 마이페이지 헤더
  frontend-hybrid/yakal/.vscode/settings.json
  frontend-hybrid/yakal/assets/icons/circle-emphasis.svg
  frontend-hybrid/yakal/assets/icons/icon-health.svg
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/screens/Home/home_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/profile_screen.dart
  frontend-hybrid/yakal/lib/widgets/Base/input_horizontal_text_field_widget.dart
  frontend-hybrid/yakal/lib/widgets/Base/my_bottom_navigation_bar.dart
  frontend-hybrid/yakal/lib/widgets/Profile/ProfileHeader/profie_header_text_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/ProfileHeader/profile_header_share_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/ProfileHeader/profile_header_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/profie_header_widget.dart
  frontend-hybrid/yakal/macos/Podfile.lock
  frontend-hybrid/yakal/macos/Runner.xcodeproj/project.pbxproj
  frontend-hybrid/yakal/macos/Runner.xcworkspace/contents.xcworkspacedata
  frontend-hybrid/yakal/pubspec.lock
  frontend-hybrid/yakal/pubspec.yaml
Labels: feature, ios

#125 🎨 refactor : 유저 API 수정 및 Dto Valid 점검
  backend-server/src/main/java/com/viewpharm/yakal/controller/AdminController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/MedicalController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/UserController.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/UpdateAdminRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/request/UpdateUserInfoDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/MedicalRegisterDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/UserInfoDto.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/UserRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/UserService.java
  backend-server/src/main/resources/schema.sql
Labels: 찬진, fix, server, safe to server

#126 ✨ 보호자 기능 추가 및 DDL 수정
  backend-server/src/main/java/com/viewpharm/yakal/controller/DiagnosisController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/ExpertController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/GuardianController.java
  backend-server/src/main/java/com/viewpharm/yakal/controller/HealthFoodController.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Answer.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Board.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Comment.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Counsel.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Diagnosis.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Guardian.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/HealthFood.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Like.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/LoginLog.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Note.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Notification.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/Surbey.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/User.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/DiagnosisListDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/HealthFoodListDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/NoteAllDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/NoteDetailDto.java
  backend-server/src/main/java/com/viewpharm/yakal/dto/response/PatientDto.java
  backend-server/src/main/java/com/viewpharm/yakal/exception/ErrorCode.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/DiagnosisRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/GuardianRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/HealthFoodRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/NoteRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/CounselService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/DiagnosisService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/GuardianService.java
  backend-server/src/main/java/com/viewpharm/yakal/service/HealthFoodService.java
  backend-server/src/main/resources/schema.sql
Labels: 우빈, feature, fix, server

#127 ⚡ 보호자와 환자 서로 여러명 가능하도록 변경
  backend-server/src/main/java/com/viewpharm/yakal/domain/Guardian.java
  backend-server/src/main/java/com/viewpharm/yakal/domain/User.java
  backend-server/src/main/java/com/viewpharm/yakal/exception/ErrorCode.java
  backend-server/src/main/java/com/viewpharm/yakal/repository/GuardianRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/service/GuardianService.java
Labels: 우빈, feature, server

#128 ✨feat : 앱 프로파일 화면
  frontend-hybrid/yakal/assets/icons/icon-line-bell.svg
  frontend-hybrid/yakal/assets/icons/icon-location.svg
  frontend-hybrid/yakal/assets/icons/icon-mypage-hospital.svg
  frontend-hybrid/yakal/assets/icons/icon-mypage-protector.svg
  frontend-hybrid/yakal/assets/icons/icon-mypage-special.svg
  frontend-hybrid/yakal/assets/icons/icon-setting.svg
  frontend-hybrid/yakal/lib/screens/Profile/profile_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/user_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Profile/ProfileHeader/profie_header_text_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/ProfileHeader/profile_header_share_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/ProfileHeader/profile_header_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/profile_info_icon_btn_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/profile_setting_row_box_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/profile_setting_row_btn_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/profile_test_button_widget.dart
Labels: feature, ios

#130 ✨ feat : 모드 설정 / 시간 설정
  frontend-hybrid/yakal/android/app/build.gradle
  frontend-hybrid/yakal/assets/icons/icon-afternoon.svg
  frontend-hybrid/yakal/assets/icons/icon-evening.svg
  frontend-hybrid/yakal/assets/icons/icon-morning.svg
  frontend-hybrid/yakal/ios/Podfile.lock
  frontend-hybrid/yakal/ios/Runner.xcodeproj/project.pbxproj
  frontend-hybrid/yakal/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  frontend-hybrid/yakal/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@1x.png
  frontend-hybrid/yakal/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-50x50@2x.png
  frontend-hybrid/yakal/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
  frontend-hybrid/yakal/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
  frontend-hybrid/yakal/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
  frontend-hybrid/yakal/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
  frontend-hybrid/yakal/ios/Runner/Info.plist
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/screens/Setting/alert_setting_screen.dart
  frontend-hybrid/yakal/lib/screens/Setting/setting_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survery_senior_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survey_normal_screen.dart
  frontend-hybrid/yakal/lib/widgets/Profile/profile_setting_row_box_widget.dart
  frontend-hybrid/yakal/lib/widgets/Setting/setting_mode_widget.dart
  frontend-hybrid/yakal/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend-hybrid/yakal/macos/Podfile.lock
  frontend-hybrid/yakal/macos/Runner.xcodeproj/project.pbxproj
  frontend-hybrid/yakal/pubspec.lock
  frontend-hybrid/yakal/pubspec.yaml
  frontend-ios/YakAl/YakAl.xcodeproj/project.pbxproj
Labels: 희찬, feature, ios

#131 Feature/profile
  frontend-hybrid/yakal/assets/icons/icon-default.svg
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/screens/Setting/setting_screen.dart
  frontend-hybrid/yakal/lib/screens/Setting/setting_signout_screen.dart
  frontend-hybrid/yakal/lib/widgets/Setting/setting_time_selection_widget.dart
Labels: 희찬, feature, hybrid

#132 ✨ Feat : Test Start
  frontend-hybrid/yakal/assets/icons/circle_1.svg
  frontend-hybrid/yakal/assets/icons/circle_2.svg
  frontend-hybrid/yakal/assets/icons/circle_3.svg
  frontend-hybrid/yakal/assets/icons/circle_4.svg
  frontend-hybrid/yakal/assets/icons/circle_5.svg
  frontend-hybrid/yakal/assets/icons/circle_6.svg
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/screens/Profile/profile_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/SurveyDetail/survey_detail_bokyak_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survery_senior_screen.dart
  frontend-hybrid/yakal/lib/widgets/Profile/profile_test_button_widget.dart
Labels: 희찬, feature, hybrid

#133 ♻️ Suryvey MVVM 적용
  frontend-hybrid/yakal/assets/icons/Check_active.svg
  frontend-hybrid/yakal/assets/icons/Check_disable.svg
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Survey/question_model.dart
  frontend-hybrid/yakal/lib/models/Survey/survey_model.dart
  frontend-hybrid/yakal/lib/screens/Survey/SurveyDetail/survey_detail_bokyak_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survery_senior_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survey_result_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Survey/survey_detail_bokyak_controller.dart
  frontend-hybrid/yakal/lib/widgets/Survey/survey_header_widget.dart
Labels: 희찬, feature, hybrid

#136 Feature/survey
  frontend-hybrid/yakal/lib/models/Survey/question_data.dart
  frontend-hybrid/yakal/lib/models/Survey/survey_model.dart
  frontend-hybrid/yakal/lib/screens/Profile/profile_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/SurveyDetail/survey_detail_bokyak_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/SurveyDetail/survey_detail_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survery_senior_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survey_result_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Survey/survey_detail_bokyak_controller.dart
  frontend-hybrid/yakal/lib/widgets/Survey/OptionBtn/survey_option_1_btn_widget.dart
  frontend-hybrid/yakal/lib/widgets/Survey/OptionBtn/survey_option_2_btn_widget.dart
  frontend-hybrid/yakal/lib/widgets/Survey/OptionBtn/survey_option_3_btn_widget.dart
  frontend-hybrid/yakal/lib/widgets/Survey/survey_header_widget.dart
Labels: 희찬, feature, hybrid

#138 ✨ 모바일 로그인 UI
  backend-server/src/main/java/com/viewpharm/yakal/exception/ErrorCode.java
  frontend-hybrid/yakal/android/app/build.gradle
  frontend-hybrid/yakal/android/app/src/main/kotlin/com/example/yakal/MainActivity.kt
  frontend-hybrid/yakal/android/app/src/main/kotlin/com/viewpharm/yakal/MainActivity.kt
  frontend-hybrid/yakal/assets/fonts/SUIT-Bold.otf
  frontend-hybrid/yakal/assets/fonts/SUIT-ExtraBold.otf
  frontend-hybrid/yakal/assets/fonts/SUIT-ExtraLight.otf
  frontend-hybrid/yakal/assets/fonts/SUIT-Heavy.otf
  frontend-hybrid/yakal/assets/fonts/SUIT-Light.otf
  frontend-hybrid/yakal/assets/fonts/SUIT-Medium.otf
  frontend-hybrid/yakal/assets/fonts/SUIT-Regular.otf
  frontend-hybrid/yakal/assets/fonts/SUIT-SemiBold.otf
  frontend-hybrid/yakal/assets/fonts/SUIT-Thin.otf
  frontend-hybrid/yakal/assets/icons/apple.svg
  frontend-hybrid/yakal/assets/icons/back.svg
  frontend-hybrid/yakal/assets/icons/checked.svg
  frontend-hybrid/yakal/assets/icons/failure.png
  frontend-hybrid/yakal/assets/icons/google.svg
  frontend-hybrid/yakal/assets/icons/id-card.png
  frontend-hybrid/yakal/assets/icons/kakao.svg
  frontend-hybrid/yakal/assets/icons/logo.png
  frontend-hybrid/yakal/assets/icons/next.svg
  frontend-hybrid/yakal/assets/icons/unchecked.svg
  frontend-hybrid/yakal/assets/icons/x-mark.svg
  frontend-hybrid/yakal/assets/images/login_banner.png
  frontend-hybrid/yakal/ios/Podfile.lock
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Profile/user.dart
  frontend-hybrid/yakal/lib/screens/Auth/auth_finish_screen.dart
  frontend-hybrid/yakal/lib/screens/Auth/auth_login_screen.dart
  frontend-hybrid/yakal/lib/screens/Auth/enter_nickname_screen.dart
  frontend-hybrid/yakal/lib/screens/Auth/identification_cancel_webview.dart
  frontend-hybrid/yakal/lib/screens/Auth/identification_entry_screen.dart
  frontend-hybrid/yakal/lib/screens/Auth/identification_result_screen.dart
  frontend-hybrid/yakal/lib/screens/Auth/identification_screen.dart
  frontend-hybrid/yakal/lib/screens/Auth/login_entry_screen.dart
  frontend-hybrid/yakal/lib/screens/Auth/login_terms_screen.dart
  frontend-hybrid/yakal/lib/screens/Auth/select_mode_screen.dart
  frontend-hybrid/yakal/lib/screens/Auth/terms_detail_screen.dart
  frontend-hybrid/yakal/lib/utilities/api/api.dart
  frontend-hybrid/yakal/lib/utilities/enum/login_process.dart
  frontend-hybrid/yakal/lib/utilities/enum/mode.dart
  frontend-hybrid/yakal/lib/utilities/style/color_styles.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/user_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Auth/auth_check_button.dart
  frontend-hybrid/yakal/lib/widgets/Auth/back_confirm_dialog.dart
  frontend-hybrid/yakal/lib/widgets/Auth/back_to_login_dialog.dart
  frontend-hybrid/yakal/lib/widgets/Auth/login_progress_bar.dart
  frontend-hybrid/yakal/lib/widgets/Auth/social_login_button.dart
  frontend-hybrid/yakal/linux/flutter/generated_plugin_registrant.cc
  frontend-hybrid/yakal/linux/flutter/generated_plugins.cmake
  frontend-hybrid/yakal/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend-hybrid/yakal/pubspec.lock
  frontend-hybrid/yakal/pubspec.yaml
  frontend-hybrid/yakal/windows/flutter/generated_plugin_registrant.cc
  frontend-hybrid/yakal/windows/flutter/generated_plugins.cmake
Labels: enhancement, 도훈, feature, hybrid
