Repository View-Pharm/YakAl, pull requests merged in 2023-11, with the labels that each got.

#227 ✨ feat: 기억이 안나
  backend-server/src/main/java/com/viewpharm/yakal/common/exception/GlobalExceptionHandler.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/dto/response/MedicalEstablishmentListDto.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/repository/MedicalEstablishmentRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/service/MedicalEstablishmentService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/AdminController.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/ExpertController.java
  backend-server/src/main/java/com/viewpharm/yakal/user/service/UserService.java
Labels: safe to server

#228 feat: 기억이 진짜 안나
  backend-server/src/main/java/com/viewpharm/yakal/base/utils/ImageUtil.java
Labels: safe to server

#229 ✨ 환자 모든 처방약, 항콜린성, Beer Criteria 처방약 조회
  backend-server/src/main/java/com/viewpharm/yakal/base/utils/ImageUtil.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/dto/response/DoseAllDto.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/ExpertController.java
Labels: 우빈, feature, server, safe to server

#231 ✨ 항콜린성 약물 가져올시 위험도 추가, ocr 주석 추가
  backend-server/src/main/java/com/viewpharm/yakal/base/utils/ImageUtil.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/dto/response/DoseAntiAllDto.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/dto/response/DoseAntiDto.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/ExpertController.java
  ocr/ocr.py
Labels: 우빈, feature, server, safe to server

#233 🐛 모바일 로그인 프로세스 버그 수정, 애플 로그인 서버 로직 수정
  backend-server/src/main/java/com/viewpharm/yakal/base/utils/OAuth2Util.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/AdminController.java
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/screens/Home/home_screen.dart
  frontend-hybrid/yakal/lib/screens/Login/IdentificationCancel/webview.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginProcess/LoginTerms/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginProcess/NicknameInput/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginProcess/login_route.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginProcess/screen.dart
  frontend-hybrid/yakal/lib/utilities/api/api.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/user_view_model.dart
Labels: 도훈, fix, safe to server, hybrid

#234 👨‍🔧Fix: 연결문제 해결
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/screens/Home/home_screen.dart
  frontend-hybrid/yakal/lib/screens/Medication/AddMedicine/screen.dart
  frontend-hybrid/yakal/lib/screens/Medication/direct/medication_direct_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/consent/consent_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/profile_screen.dart
  frontend-hybrid/yakal/lib/screens/Setting/setting_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Medication/dose_list_view_model.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/guardian_controller.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/user_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_floating_action_buttom.dart
  frontend-hybrid/yakal/lib/widgets/Medication/medicine_add_cancel_dialog.dart
  frontend-hybrid/yakal/lib/widgets/Profile/profile_setting_row_box_widget.dart
  frontend-hybrid/yakal/lib/widgets/Setting/setting_time_selection_widget.dart
Labels: 희찬, feature, hybrid

#236 ✨ feat: 시간/모드 통신
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/models/Home/pill_todo_parent.dart
  frontend-hybrid/yakal/lib/models/Profile/user.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginProcess/NicknameInput/screen.dart
  frontend-hybrid/yakal/lib/screens/Medication/direct/medication_direct_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/consent/consent_screen.dart
  frontend-hybrid/yakal/lib/screens/Profile/profile_screen.dart
  frontend-hybrid/yakal/lib/screens/Setting/setting_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survery_senior_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/mingam_controller.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/mode_controller.dart
  frontend-hybrid/yakal/lib/viewModels/Profile/user_view_model.dart
  frontend-hybrid/yakal/lib/viewModels/Survey/survey_detail_bokyak_controller.dart
  frontend-hybrid/yakal/lib/widgets/Base/my_bottom_navigation_bar.dart
  frontend-hybrid/yakal/lib/widgets/Home/home_pill_todo_view.dart
  frontend-hybrid/yakal/lib/widgets/Home/pill_todo_parent_item.dart
  frontend-hybrid/yakal/lib/widgets/Profile/ProfileHeader/profile_header_share_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/ProfileHeader/profile_header_widget.dart
  frontend-hybrid/yakal/lib/widgets/Profile/profile_setting_row_box_widget.dart
  frontend-hybrid/yakal/lib/widgets/Setting/setting_time_selection_widget.dart
Labels: 희찬, feature, hybrid

#237 🐛 모바일 자잘한 버그 수정
  frontend-hybrid/yakal/assets/data/consent_to_provide_pi.txt
  frontend-hybrid/yakal/assets/data/location_based.txt
  frontend-hybrid/yakal/assets/data/marketing.txt
  frontend-hybrid/yakal/assets/data/terms_of_use.txt
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/provider/Login/login_terms_provider.dart
  frontend-hybrid/yakal/lib/screens/Home/home_screen.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginProcess/LoginTerms/TermsDetail/screen.dart
  frontend-hybrid/yakal/lib/screens/Login/LoginProcess/LoginTerms/screen.dart
  frontend-hybrid/yakal/lib/screens/Medication/Prescription/screem.dart
  frontend-hybrid/yakal/lib/utilities/enum/terms.dart
  frontend-hybrid/yakal/lib/utilities/enum/user_properties.dart
  frontend-hybrid/yakal/lib/viewModels/Home/home_view_model.dart
  frontend-hybrid/yakal/lib/widgets/Profile/profile_test_button_widget.dart
  frontend-hybrid/yakal/pubspec.lock
  frontend-hybrid/yakal/pubspec.yaml
  frontend-web/src/components/admin-main/approval-dialog/view.tsx
  frontend-web/src/components/main/patient/view.tsx
  frontend-web/src/components/main/profile/style.ts
  frontend-web/src/components/main/profile/view.tsx
  frontend-web/src/page/main/view.tsx
Labels: 도훈, fix, hybrid

#238 ✨Feat: 범위 시간 설정/테스트 목록 개선
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/screens/Home/home_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/SurveyDetail/survey_detail_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survery_senior_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survey_normal_screen.dart
  frontend-hybrid/yakal/lib/screens/Survey/survey_result_screen.dart
  frontend-hybrid/yakal/lib/viewModels/Survey/survey_detail_bokyak_controller.dart
  frontend-hybrid/yakal/lib/widgets/Profile/profile_setting_row_box_widget.dart
  frontend-hybrid/yakal/lib/widgets/Setting/setting_time_selection_widget.dart
Labels: 희찬, feature, hybrid

#239 ✨ OCR Logic Change
  frontend-hybrid/yakal/android/build.gradle
  frontend-hybrid/yakal/lib/main.dart
  frontend-hybrid/yakal/lib/provider/Medicine/envelop_analysis_provider.dart
  frontend-hybrid/yakal/lib/viewModels/Medication/dose_list_view_model.dart
Labels: 도훈, fix

#235 ✨ 전문가 신청 내역 조회
  backend-server/src/main/java/com/viewpharm/yakal/base/type/EMedical.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/domain/ExpertCertification.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/domain/MedicalEstablishment.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/dto/request/ExpertCertificationForResisterDto.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/dto/request/MedicalEstablishmentForResisterDto.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/dto/response/ExpertCertificationAllDto.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/dto/response/ExpertCertificationListDto.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/dto/response/MedicalEstablishmentAllDto.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/dto/response/MedicalEstablishmentDetailDto.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/dto/response/MedicalEstablishmentListForAdminDto.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/repository/ExpertCertificationRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/repository/MedicalEstablishmentRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/service/ExpertCertificationService.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/service/MedicalEstablishmentService.java
  backend-server/src/main/java/com/viewpharm/yakal/notification/service/NotificationScheduleService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/AdminController.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/ExpertController.java
Labels: 우빈, feature, server, safe to server

#240 🎨Dose Table Refactor
  backend-server/src/main/java/com/viewpharm/yakal/prescription/domain/Dose.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/domain/DoseName.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/domain/Risk.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/domain/TakeDose.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/DoseNameRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/TakeDoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/oneDaySummary.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/service/DoseService.java
Labels: 찬진, server, refactor

#243 🎨 Dose Domain 리팩토링
  backend-server/src/main/java/com/viewpharm/yakal/base/type/EMedicalProperties.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/controller/DoseController.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/controller/PrescriptionController.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/domain/Dose.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/dto/request/OneScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/dto/request/UpdateIsTakenDto.java
Labels: 찬진, server, refactor

#245 ✨ 전문가 신청 내역 세부 조회
  backend-server/src/main/java/com/viewpharm/yakal/base/exception/ErrorCode.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/dto/response/ExpertCertificationDetailDto.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/dto/response/MedicalEstablishmentForExpertDto.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/repository/ExpertCertificationRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/service/ExpertCertificationService.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/service/MedicalEstablishmentService.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/AdminController.java
  backend-server/src/main/java/com/viewpharm/yakal/user/domain/User.java
Labels: 우빈, feature, server

#250 ⚡ 전문가 테스트 및 수정
  backend-server/src/main/java/com/viewpharm/yakal/medicalappointment/service/MedicalAppointmentService.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/repository/ExpertCertificationRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/survey/service/SurveyService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/ExpertController.java
Labels: 우빈, fix, server

#248 🎨 : 약 직접추가 -> Dose service / OCR 추가 -> Prescrtion service
  backend-server/src/main/java/com/viewpharm/yakal/prescription/controller/DoseController.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/controller/PrescriptionController.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/dto/request/CreateScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/service/PrescriptionService.java
Labels: 찬진, server, refactor

#252 ✨관리자 통계 API 추가
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/survey/repository/SurveyRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/survey/service/SurveyService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/AdminController.java
Labels: feature, server, refactor

#254 약 이름 가져오기 변경
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/DoseRepository.java
Labels: 우빈, fix, server

#255 ✨ 전문가/관리자 웹 서버 연동 및 관리자 웹 네비게이션 바
  frontend-hybrid/yakal/lib/provider/Calendar/calendar_provider.dart
  frontend-web/src/api/auth/admin.ts
  frontend-web/src/components/admin-main/expert-detail/view.controller.ts
  frontend-web/src/components/admin-main/expert-detail/view.model.ts
  frontend-web/src/components/admin-main/expert-detail/view.tsx
  frontend-web/src/components/admin-main/facility-detail/view.controller.ts
  frontend-web/src/components/admin-main/facility-detail/view.model.ts
  frontend-web/src/components/admin-main/facility-detail/view.tsx
  frontend-web/src/components/main/patient/view.tsx
  frontend-web/src/page/admin-main/style.ts
  frontend-web/src/page/admin-main/view.tsx
  frontend-web/src/router.tsx
  frontend-web/src/store/admin-expert-detail.ts
  frontend-web/src/store/admin-facility-detail.ts
  frontend-web/src/store/patient.ts
  frontend-web/src/type/response/deny-req.ts
  frontend-web/src/type/response/facility-info.ts
  frontend-web/src/type/response/protector-info.ts
Labels: enhancement, 도훈, feature, fix, web

#256 ✨ Feat: 복약 순응도, 복용한 약물 표 그리기
  frontend-web/package-lock.json
  frontend-web/package.json
  frontend-web/public/assets/yakal-logo.png
  frontend-web/src/components/admin-main/compilance-list/style.ts
  frontend-web/src/components/admin-main/compilance-list/view.tsx
  frontend-web/src/components/admin-main/statistic-list/style.ts
  frontend-web/src/components/admin-main/statistic-list/view.tsx
  frontend-web/src/components/login/main/style.ts
  frontend-web/src/page/admin-main/view.tsx
  frontend-web/src/router.tsx
  frontend-web/src/store/admin-medicine-list.ts
Labels: 희찬, feature, web

#261 🚀 🚑 fix: 테스트 삭제
  backend-server/src/test/java/com/viewpharm/yakal/service/DoseServiceTest.java
Labels: safe to server

#263 🚀 🚑 fix: 도메인 오류 수정
  backend-server/src/main/java/com/viewpharm/yakal/auth/handler/OAuth2LoginSuccessHandler.java
Labels: safe to server

#260 🐛 약이름 수정
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/survey/repository/AnswerRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/survey/repository/SurveyRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/survey/service/SurveyService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/AdminController.java
Labels: 우빈, fix, server, safe to server

#264 fix
  backend-server/src/main/java/com/viewpharm/yakal/survey/repository/AnswerRepository.java
Labels: safe to server

#266 🚀 🚑 fix: 전문가 신청 오류 해결
  backend-server/src/main/java/com/viewpharm/yakal/base/type/EJob.java
  backend-server/src/main/java/com/viewpharm/yakal/medicalestablishment/service/ExpertCertificationService.java
Labels: safe to server

#267 🚀 fix
  backend-server/src/main/java/com/viewpharm/yakal/base/type/EJob.java
  backend-server/src/main/java/com/viewpharm/yakal/user/dto/request/ExpertCertificationApproveDto.java
Labels: safe to server

#272 🚑 fix: 처방전 추가
  backend-server/src/main/java/com/viewpharm/yakal/prescription/service/DoseService.java
Labels: safe to server

#273 fix: 처방전 추가
  backend-server/src/main/java/com/viewpharm/yakal/prescription/domain/Dose.java
Labels: safe to server

#275 🐛 fix : 처방전 못만드는 문제 fix
  backend-server/src/main/java/com/viewpharm/yakal/prescription/service/PrescriptionService.java
Labels: bug, 찬진, server

#277 ✨ 바라는 점 추가
  backend-server/src/main/java/com/viewpharm/yakal/desire/controller/DesireController.java
  backend-server/src/main/java/com/viewpharm/yakal/desire/domain/Desire.java
  backend-server/src/main/java/com/viewpharm/yakal/desire/dto/request/DesireRequestDto.java
  backend-server/src/main/java/com/viewpharm/yakal/desire/dto/response/DesireAllDto.java
  backend-server/src/main/java/com/viewpharm/yakal/desire/dto/response/DesireListDto.java
  backend-server/src/main/java/com/viewpharm/yakal/desire/repository/DesireRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/desire/service/DesireService.java
  backend-server/src/main/java/com/viewpharm/yakal/user/controller/AdminController.java
  backend-server/src/main/java/com/viewpharm/yakal/user/domain/User.java
Labels: 우빈, feature, server

#278 ✨ CustomName 추가
  backend-server/.gitignore
  backend-server/src/main/java/com/viewpharm/yakal/prescription/domain/Dose.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/domain/Risk.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/dto/request/OneMedicineScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/dto/response/OneTimeScheduleDto.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/repository/DoseRepository.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/service/DoseService.java
  backend-server/src/main/java/com/viewpharm/yakal/prescription/service/PrescriptionService.java
Labels: 찬진, feature, server
